@import url('./reset.css');
@import url('./fonts.css');

/* html{
    scroll-behavior: smooth;
} */

body {
    font-family: 'Oswald', sans-serif;
    font-variation-settings: 'wght'500;
    background-color: gainsboro;
}

.container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #0f0f0f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-logo {
    width: 10%;
}

.logo-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0f0f;
    font-size: 30px;
}

.header-menu {
    width: 50%;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0f0f;
    font-size: 22px;
}

.section {
    height: 100vh;
    padding-top: 60px;
}

#home {
    background-size: contain;
    background-image: url('../images/laptop-wallpaper.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.home-title {
    position: absolute;
    right: 0;
    top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 45px;
}

.home-title span {
    margin: 5px 0;
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #240d8d;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

@keyframes pulse {
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.home-title span:nth-of-type(1) {
    animation-delay: 0s;
}

.home-title span:nth-of-type(2) {
    animation-delay: 0.5s;
}

.home-title span:nth-of-type(3) {
    animation-delay: 1s;
}

.home-title span:nth-of-type(4) {
    animation-delay: 1.5s;
}

.home-title span:nth-of-type(5) {
    animation-delay: 2s;
}

.home-title span:nth-of-type(6) {
    animation-delay: 2.5s;
}

.home-title span:nth-of-type(7) {
    animation-delay: 3s;
}

.home-title span:nth-of-type(8) {
    animation-delay: 3.5s;
}

#about {
    background-color: #fefefe;
}

.about-photo {
    width: 30%;
    height: 70vh;
    background-image: url('../images/im.jpg');
    background-position: center;
    background-size: cover;
}

.about-info {
    width: 50%;
}

.about-info p {
    margin-bottom: 20px;
    font-size: 22px;
}

.about-icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 70px;
}

.fa-html5 {
    color: #de4013;
}

.fa-css3-alt {
    color: #0774b9;
}

.fa-js {
    color: #f07f21;
}

#works {
    background-image: url('../images/bg2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.works-box {
    width: 30%;
    height: 18vw;
    border: 3px solid #0f0f0f;
    border-radius: 10px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0.5;
    transition: all 0.7s ease-in;
}

.works-box:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

#contact {
    background-color: #fefefe;
}

.contact-form {
    width: 30%;
}

.contact-form h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.contact-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    font-size: 14px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-variation-settings: 'wght' 500;
    border: 2px solid #0f0f0f;
    /* color: #555454; */
}

.form-group textarea {
    resize: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    font-family: 'Oswald', sans-serif;
    font-variation-settings: 'wght' 400;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #0f9b0f;
}

.form-group textarea:focus {
    border-width: 2px;
}

.form-button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 4px 20px;
    border: 2px solid #0f0f0f;
    background-color: #fefefe;
    color: #0f0f0f;
    transition: all 0.7s;
}

.form-button:hover {
    background-color: #0f9b0f;
    border-color: #0f9b0f;
    color: #fefefe;
}

.contact-map {
    border: 10px solid #0f0f0f;
    width: 60%;
    height: 70vh;
}