* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #fff url(../img/2.png) no-repeat center 25%;
  background-size: contain;
}

.add-input {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.add-input__search, .input-error {
  width: 40%;
  min-width: 300px;
  height: 45px;
  display: flex;
  padding: 0 50px 0 20px;
  font-size: 18px;
  color: #1f1d1d;
  border-radius: 4px;
  border: 1px solid #ebe0e0;
  border-bottom: none;
  box-shadow: 5px 6px 21px -5px rgba(0, 0, 0, 0.7);
  opacity: .9;
}

.add-input__search:focus, .input-error:focus {
  outline: none;
}

.add-input__button {
  width: 25px;
  height: 25px;
  display: flex;
  align-self: center;
  margin: 0 15px 0 -35px;
  z-index: 9999;
  background: url(../img/07_plus-512.png) no-repeat center;
  background-size: 25px 25px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: .8s;
}

.add-input__button:hover {
  cursor: pointer;
}

.add-input__button:active {
  background: #2b2929;
}

.content-item {
  width: 100%;
  height: 300px;
  margin: 20px 0 20px 0;
  overflow: scroll;
}

.content-item__add-item {
  width: 40%;
  min-width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  padding: 0 10px 0 20px;
  margin: 0 auto 2px;
  overflow: scroll;
  background: #d5dbdf;
  color: #2e2b2b;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 4px;
  opacity: .9;
}

.content-item__add-item:nth-child(odd) {
  background: #96b1c0;
}

.error {
  width: 30%;
  min-width: 240px;
  height: 30%;
  min-height: 220px;
  display: none;
  position: absolute;
  top: 5%;
  z-index: 100;
  align-self: center;
  padding: 20px;
  background: #fffdfd url(../img/kisspng-robot-safety-robotics-formassembly-computer-robot-5ac7988da99aa5.1695848615230301576947.png) no-repeat center 90%;
  background-size: 140px 140px;
  color: #423f3d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  text-align: center;
  box-shadow: 5px 6px 21px -5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.error:hover{
  background: #e8ecea url(../img/error.png) no-repeat center 90%;
  background-size: 140px 140px;
  transition: .6s;
}

.error__button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 20px;
  background: #547ead;
  color: beige;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}

.error__button:hover {
  cursor: pointer;
}

.input-error:focus {
  display: none;
}

.remove-input__button {
  width: 25px;
  height: 25px;
  background: #fff url(../img/close_red.png) no-repeat center;
  background-size: 30px 30px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: .5s;
}
.remove-input__button:active {
  background: #252424;
}
.remove-input__button:hover {
  background: #424040 url(../img/close_red.png) no-repeat center;
  background-size: 30px 30px;
}

.checked {
  box-shadow: 0px 0px 0px 0px rgba(187, 144, 144, 0.7);
  background: #93b69b !important;
  color: #1d1b1b;
  text-decoration: line-through;
}

.button-rotate {
  background: #fff 53, 51, 51 url(../img/07_plus-512.png) no-repeat center;
  background-size: 25px 25px;
  transform: rotate(45deg);
  transition: .6s;
}
