.dashboard{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: #f1f1f1;
    position: relative;
    &__left-btn{
        width: 20%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        &-reload{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background: #ff503f url(../img/reload.png) no-repeat center;
            transition: .6s;
            &:hover{
                background: #373d44 url(../img/reload-act.png) no-repeat center;
                cursor: pointer;
            }
            &:focus{
                outline: none;
            }
            &:active{
                background: rgb(185, 162, 162);
            }
        }
        &-dashboard{
            width: 120px;
            height: 40px;
            margin-left: 15px;
            background: #f1f1f1;
            border: 1px solid #dfdfdf;
            border-radius: 15px;
            font-size: 14px;
            font-family: "Helvetica Neue";
            color: rgb(75, 75, 75);
            &:hover{
                cursor: pointer;
                border: none;
                -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
            }
            &:focus{
                outline: none;
            }
            &:active{
                background: rgb(124, 120, 120);
            }
        } 
    }
    &__right-btn{
        width: 20%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        &-arrow{
            width: 40px;
            height: 40px;
            margin-right: 15px;
            border-radius: 50px;
            background: #aacc4e url(../img/Arrow.png) no-repeat center;
            transition: .6s;
            &:hover{
                background: #aacc4e url(../img/Arrow-act.png) no-repeat center;
                cursor: pointer;
                -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
            }
            &:focus{
                outline: none;
            }
            &:active{
                background: rgb(185, 162, 162);
            }
        }
        &-active-user{
            width: 170px;
            height: 40px;
            background: #f1f1f1;
            border: 1px solid #dfdfdf;
            border-radius: 15px;
            font-size: 14px;
            font-family: "Helvetica Neue";
            color: rgb(75, 75, 75);
            position: relative;
            &::before{
                content: url(../img/conversation.png);
                position: absolute;
                left: 10px;
            }
            &::after{
                content: url(../img/arraw-smal.png);
                position: absolute;
                right: 15px;
            }
            &:hover{
                &::after{
                    content: url(../img/arraw-smal-act.png);
                    position: absolute;
                    right: 15px;
                }
                -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
                cursor: pointer;
            }
            &:focus{
                outline: none;
            }
            &:active{
                background: rgb(124, 120, 120);
            }
        }
    }
}

.menu{
    width: 25px;
    height: 25px;
    display: none;
    background: url(../img/BgProjects.png)no-repeat center;
    background-size: contain;
    position: absolute;
    left: 5px;
    &:hover{
        background: url(../img/BgProjects-act.png)no-repeat center;
        background-size: contain;
    }
    &:focus{
        outline: none;
    }
}

@media screen and (max-device-width: 1500px) {
    .dashboard__right-btn{
        width: 25%;
    }
}

@media screen and (max-device-width: 1400px) {
    .dashboard__left-btn{
        width: 20%;
    }
    .dashboard__right-btn{
        width: 30%;
    }
}

@media screen and (max-device-width: 1300px) {
    .dashboard__right-btn{
        width: 25%;
    }
    .dashboard{
        height: 60px;
    }
    .init-content {
        height: calc(100vh - 140px);
    }    
    .dashboard__left-btn-reload {
        width: 30px;
        height: 30px;
    }    
    .dashboard__left-btn-dashboard {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .dashboard__right-btn-arrow {
        width: 30px;
        height: 30px;
    }
    .dashboard__right-btn-active-user {
        height: 30px;
        font-size: 12px;
    }
    .dashboard__right-btn-active-user::before {
        content: url(../img/conversation.png);
        position: absolute;
        left: 10px;
        top: 5px;
    }
}
@media screen and (max-device-width: 1100px) {
    .dashboard__right-btn{
        width: 30%;
    }
}
@media screen and (max-device-width: 900px) {
    .dashboard__left-btn{
        width: 25%;
    }
    .dashboard__right-btn{
        width: 35%;
    }
}
@media screen and (max-device-width: 750px) {
    .dashboard__left-btn{
        width: 30%;
    }
    .dashboard__right-btn{
        width: 40%;
    }
}
@media screen and (max-device-width: 650px) {
    .dashboard {
        height: 50px;
    }
    .init-content {
        height: calc(100vh - 130px);
    } 
    .dashboard__right-btn{
        width: 40%;
    }
    .dashboard__left-btn{
        width: 40%;
    }
    .dashboard{
        height: 60px;
    }
    .init-content {
        height: calc(100vh - 140px);
    }    
    .dashboard__left-btn-reload {
        width: 20px;
        height: 20px;
        background-size: 50%;
    }   
    .dashboard__left-btn-reload:hover {
        width: 20px;
        height: 20px;
        background-size: 50%;
    } 
    .dashboard__left-btn-dashboard {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    .dashboard__right-btn-arrow {
        width: 20px;
        height: 20px;
        background-size: 50%;
    }
    .dashboard__right-btn-active-user {
        height: 30px;
        font-size: 10px;
    }
}
@media screen and (max-device-width: 600px) {
    .dashboard__right-btn{
        width: 45%;
    }
}

@media screen and (max-device-width: 550px) {
    .dashboard__left-btn{
        width: 40%;
    }
    .dashboard__right-btn{
        width: 50%;
    }
}
@media screen and (max-device-width: 500px) {
    .menu{
        display: flex;
    }
    .dashboard{
        height: 30px;
    }
    .init-content {
        height: calc(100vh - 70px)!important;
    }
    .dashboard__left-btn{
        width: 40%;
    }
    .dashboard__right-btn{
        width: 40%;
    }
    .dashboard__right-btn-active-user {
        height: 30px;
        width: 150px;
        height: 25px;
        font-size: 10px;
    }
    .dashboard__left-btn-dashboard {
        width: 80px;
        height: 25px;
        margin-left: 10px;
    }
    .dashboard__right-btn-arrow {
        margin-right: 10px;
    }
    .dashboard__right-btn-active-user::before {
        left: 12px;
        top: 2px;
    }
    .dashboard__left-btn-reload {
        width: 15px;
        height: 15px;
    }
    .dashboard__left-btn-reload:hover {
        width: 15px;
        height: 15px;
    }
    .dashboard__left-btn-dashboard {
        width: 55px;
        height: 18px;
        font-size: 7px;
    }
    .dashboard__right-btn-arrow {
        width: 15px;
        height: 15px;
        background-size: 30%;
    }
    .dashboard__right-btn-arrow:hover {
        background-size: 30%;
    }
    .dashboard__right-btn-active-user::before {
        left: 2px;
        top: -1px;
        transform: scale(.6);
    }
    .dashboard__right-btn-active-user::after {
        transform: scale(.6);
        right: 5px;
    }
    .dashboard__right-btn-active-user:hover::after {
        transform: scale(.6);
        right: 5px;
    }
    .dashboard__right-btn-active-user {
        width: 90px;
        height: 18px;
        font-size: 7px;
    }
}

@media screen and (max-device-width: 400px) {
    .dashboard__left-btn{
        width: 55%;
    }
    .dashboard__right-btn{
        width: 40%;
    }
}