/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  display: flex; }

.default-container-size, .side-bar__board, .side-bar__projects, .side-bar__settings, .side-bar__upgrade, .side-bar__logout {
  width: 45px;
  height: 45px; }

.side-bar {
  width: 130px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../img/BgNav.png) no-repeat center;
  background-size: cover;
  overflow: hidden; }
  .side-bar__top {
    padding-top: 20px; }
  .side-bar__bottom {
    padding-bottom: 20px; }
  .side-bar-item {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; }
    .side-bar-item::after {
      content: url(../img/Aktiv.png);
      visibility: hidden;
      position: absolute;
      top: 10px;
      left: 0; }
    .side-bar-item::before {
      content: url(../img/Trenner.png);
      position: absolute;
      bottom: 0; }
    .side-bar-item:hover .side-bar__profile-photo {
      border: 2px solid #dbd1d1; }
    .side-bar-item:hover .side-bar__board {
      background: url(../img/BgBoard-act.png) no-repeat center;
      background-size: contain; }
    .side-bar-item:hover .side-bar__projects {
      background: url(../img/BgProjects-act.png) no-repeat center;
      background-size: contain; }
    .side-bar-item:hover .side-bar__settings {
      background: url(../img/BgSettings-act.png) no-repeat center;
      background-size: contain; }
    .side-bar-item:hover .side-bar__upgrade {
      background: url(../img/React-act.png) no-repeat center;
      background-size: contain; }
    .side-bar-item:hover .side-bar__logout {
      background: url(../img/Log-out-act.png) no-repeat center;
      background-size: contain; }
    .side-bar-item:hover .side-bar-item__item-title {
      color: #dadde0; }
    .side-bar-item:hover {
      cursor: pointer; }
      .side-bar-item:hover::after {
        content: url(../img/Aktiv.png);
        visibility: visible;
        position: absolute;
        top: 10px;
        left: 0; }
      .side-bar-item:hover::before {
        content: url(../img/Trenner-Act.png);
        position: absolute;
        bottom: 0; }
    .side-bar-item__counter-unread, .side-bar-item__counter-read {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      font-size: 16px;
      font-family: "Helvetica Neue";
      color: white;
      font-weight: bold;
      background: #ff503f;
      position: absolute;
      top: 15px;
      right: 25px; }
    .side-bar-item__counter-read {
      background: #adadad;
      top: 13px;
      right: 22px; }
    .side-bar-item__item-title {
      font-size: 18px;
      padding-top: 10px;
      font-family: "Helvetica Neue";
      color: #4b4e52; }
  .side-bar__profile-photo {
    width: 90px;
    height: 90px;
    background: url(../img/prof-photo.png) no-repeat center;
    background-size: cover;
    border-radius: 50%; }
  .side-bar__board {
    background: url(../img/Bgboard.png) no-repeat center;
    background-size: contain;
    border-radius: 50%; }
  .side-bar__projects {
    background: url(../img/BgProjects.png) no-repeat center;
    background-size: contain; }
  .side-bar__settings {
    background: url(../img/BgSettings.png) no-repeat center;
    background-size: contain; }
  .side-bar__upgrade {
    background: url(../img/React.png) no-repeat center;
    background-size: contain; }
  .side-bar__logout {
    background: url(../img/Log-out.png) no-repeat center;
    background-size: contain; }

@media screen and (max-height: 800px) {
  .side-bar {
    width: 90px; }
  .side-bar-item {
    height: 100px; }
  .side-bar__profile-photo {
    width: 60px;
    height: 60px; }
  .side-bar-item__counter-unread, .side-bar-item__counter-read {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 20px;
    font-size: 12px; }
  .side-bar-item__counter-read {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 12px;
    font-family: "Helvetica Neue";
    color: white s;
    font-weight: bold;
    background: #adadad;
    top: 8px;
    right: 16px; }
  .default-container-size, .side-bar__board, .side-bar__projects, .side-bar__settings, .side-bar__upgrade, .side-bar__logout {
    width: 30px;
    height: 30px; }
  .side-bar-item__item-title {
    font-size: 14px; }
  .side-bar-item:hover::after {
    content: url(../img/Aktiv-media.png);
    visibility: visible;
    position: absolute;
    top: 15px;
    left: 0; } }

@media screen and (max-height: 700px) {
  .side-bar {
    width: 90px; }
  .side-bar-item {
    height: 100px; }
  .side-bar__profile-photo {
    width: 60px;
    height: 60px; }
  .side-bar-item__counter-unread, .side-bar-item__counter-read {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 20px;
    font-size: 12px; }
  .side-bar-item__counter-read {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 12px;
    font-family: "Helvetica Neue";
    color: white s;
    font-weight: bold;
    background: #adadad;
    top: 8px;
    right: 16px; }
  .default-container-size, .side-bar__board, .side-bar__projects, .side-bar__settings, .side-bar__upgrade, .side-bar__logout {
    width: 30px;
    height: 30px; }
  .side-bar-item__item-title {
    font-size: 14px; }
  .side-bar-item:hover::after {
    content: url(../img/Aktiv-media.png);
    visibility: visible;
    position: absolute;
    top: 15px;
    left: 0; } }

@media screen and (max-height: 650px) {
  .side-bar {
    width: 60px; }
  .side-bar-item {
    height: 80px; }
  .side-bar__profile-photo {
    width: 40px;
    height: 40px; }
  .side-bar-item__counter-unread, .side-bar-item__counter-read {
    width: 15px;
    height: 15px;
    top: 12px;
    right: 15px;
    font-size: 7px; }
  .side-bar-item__counter-read {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    font-size: 7px;
    font-family: "Helvetica Neue";
    color: white s;
    font-weight: bold;
    background: #adadad;
    top: 8px;
    right: 10px; }
  .default-container-size, .side-bar__board, .side-bar__projects, .side-bar__settings, .side-bar__upgrade, .side-bar__logout {
    width: 20px;
    height: 20px; }
  .side-bar-item__item-title {
    font-size: 10px; }
  .side-bar-item:hover::after {
    visibility: hidden; } }

@media screen and (max-height: 500px) {
  .side-bar {
    width: 60px; }
  .side-bar-item {
    height: 65px; }
  .side-bar__profile-photo {
    width: 30px;
    height: 30px; }
  .side-bar-item__counter-unread, .side-bar-item__counter-read {
    width: 10px;
    height: 10px;
    top: 10px;
    right: 15px;
    font-size: 5px; }
  .side-bar-item__counter-read {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    font-size: 5px;
    font-family: "Helvetica Neue";
    color: white s;
    font-weight: bold;
    background: #adadad;
    top: 8px;
    right: 15px; }
  .default-container-size, .side-bar__board, .side-bar__projects, .side-bar__settings, .side-bar__upgrade, .side-bar__logout {
    width: 15px;
    height: 15px; }
  .side-bar-item__item-title {
    font-size: 10px; }
  .side-bar-item:hover::after {
    visibility: hidden; }
  .side-bar-item__item-title {
    font-size: 8px; } }

@media screen and (max-height: 450px) {
  .side-bar {
    width: 50px; }
  .side-bar-item {
    height: 55px; }
  .side-bar__profile-photo {
    width: 30px;
    height: 30px; }
  .side-bar-item__counter-unread, .side-bar-item__counter-read {
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    font-size: 5px; }
  .side-bar-item__counter-read {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    font-size: 5px;
    font-family: "Helvetica Neue";
    color: white s;
    font-weight: bold;
    background: #adadad;
    top: 8px;
    right: 15px; }
  .default-container-size, .side-bar__board, .side-bar__projects, .side-bar__settings, .side-bar__upgrade, .side-bar__logout {
    width: 15px;
    height: 15px; }
  .side-bar-item__item-title {
    padding-top: 0px;
    font-size: 8px; }
  .side-bar-item:hover::after {
    visibility: hidden; }
  .side-bar-item::before {
    content: url(../img/Trenner-Act.png);
    transform: scale(0.5);
    position: absolute;
    bottom: 0; }
  .side-bar__top {
    padding-top: 0px; }
  .side-bar__bottom {
    padding-bottom: 0px; } }

@media screen and (max-height: 320px) {
  .side-bar {
    width: 50px;
    overflow: auto; } }

.global-container {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.show-progress {
  width: 60px;
  min-width: 60px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff503f;
  border-radius: 4px;
  font-size: 24px;
  font-family: "Helvetica Neue";
  color: white;
  transition: .1s; }
  .show-progress:hover {
    transform: scale(1.1); }
  .show-progress-article {
    font-size: 22px;
    font-family: "Helvetica Neue";
    color: #7b7b7b;
    margin-left: 15px; }
  .show-progress-line-through {
    font-size: 22px;
    font-family: "Helvetica Neue";
    color: #c2c2c2;
    margin-left: 15px;
    text-decoration: line-through;
    position: relative; }
    .show-progress-line-through::after {
      content: url(../img/Vektor-Smartobjekt.png);
      position: absolute;
      right: -25px; }

.show-progress-off {
  width: 60px;
  min-width: 60px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 24px;
  border: 1px solid #ddd;
  font-family: "Helvetica Neue";
  color: #ddd;
  transition: .1s; }
  .show-progress-off:hover {
    transform: scale(1.1); }
  .show-progress-off-article {
    font-size: 22px;
    font-family: "Helvetica Neue";
    color: #7b7b7b;
    margin-left: 15px; }

.show-progress-ready {
  width: 60px;
  min-width: 60px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  font-family: "Helvetica Neue";
  color: #bebebe;
  font-weight: bold;
  border: 1px solid #ddd;
  transition: .1s; }
  .show-progress-ready:hover {
    transform: scale(1.1); }
  .show-progress-ready-article {
    font-size: 22px;
    font-family: "Helvetica Neue";
    color: #7b7b7b;
    margin-left: 15px; }

.show-article {
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  font-size: 14px;
  font-family: "Helvetica Neue";
  color: #4b4b4b;
  text-transform: uppercase; }
  .show-article:focus {
    outline: none; }
  .show-article:active {
    background: #7c7878; }
  .show-article:hover {
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    cursor: pointer; }

.show-time {
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 0 15px 0 35px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  font-size: 14px;
  font-family: "Helvetica Neue";
  color: #4b4b4b;
  text-transform: uppercase;
  position: relative; }
  .show-time::before {
    content: url(../img/reload-time.png);
    position: absolute;
    left: 15px; }
  .show-time:hover::before {
    content: url(../img/reload-time-act.png);
    position: absolute;
    left: 15px; }
  .show-time:focus {
    outline: none; }
  .show-time:active {
    background: #7c7878; }
  .show-time:hover {
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    cursor: pointer; }

.searchBtn {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  background: #fff url(../img/search.png) no-repeat center;
  transition: .3s; }
  .searchBtn:hover {
    background: #ff503f url(../img/serch-act.png) no-repeat center;
    cursor: pointer;
    border: 1px solid #ff503f;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75); }
  .searchBtn:focus {
    outline: none; }
  .searchBtn:active {
    background: #b9a2a2; }

.single-arrow {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  background: #fff url(../img/arrow-btn.png) no-repeat center;
  transition: .6s; }
  .single-arrow:hover {
    background: url(../img/Arrow-act.png) no-repeat center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75); }
  .single-arrow:focus {
    outline: none; }
  .single-arrow:active {
    background: #b9a2a2; }

.count-active-users {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  font-size: 12px;
  font-family: "Helvetica Neue";
  color: #8da5b6;
  font-weight: bold;
  background: #fff;
  transition: .6s; }
  .count-active-users:hover {
    background: #ebe5e5;
    color: #ff503f;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75); }
  .count-active-users:focus {
    outline: none; }
  .count-active-users:active {
    background: #b9a2a2; }

.user-online {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  transition: .6s;
  position: relative; }
  .user-online:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75); }
  .user-online:focus {
    outline: none; }
  .user-online:active {
    background: #b9a2a2; }

.user-show-online {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  transition: .6s;
  position: relative; }
  .user-show-online:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75); }
  .user-show-online:focus {
    outline: none; }
  .user-show-online:active {
    background: #b9a2a2; }
  .user-show-online::after {
    content: url(../img/online.png);
    position: absolute;
    top: 0;
    right: 0; }

.user-offline {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  transition: .6s;
  position: relative; }
  .user-offline:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75); }
  .user-offline:focus {
    outline: none; }
  .user-offline:active {
    background: #b9a2a2; }

.user-show-offline {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  transition: .6s;
  position: relative; }
  .user-show-offline:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75); }
  .user-show-offline:focus {
    outline: none; }
  .user-show-offline:active {
    background: #b9a2a2; }
  .user-show-offline::after {
    content: url(../img/offline.png);
    position: absolute;
    top: 0;
    right: 0; }

.user1 {
  background: url(../img/user3.png) no-repeat center;
  background-size: cover; }

.user2 {
  background: url(../img/user2.png) no-repeat center;
  background-size: cover; }

.user3 {
  background: url(../img/user1.png) no-repeat center;
  background-size: cover; }

@media screen and (max-width: 1400px) {
  .show-progress-article {
    font-size: 15px; } }

@media screen and (max-width: 1100px) {
  .show-article {
    font-size: 10px; } }

@media screen and (max-width: 1000px) {
  .init-content__item {
    height: 70px !important; }
  .init-content__arhive-projects {
    height: 40px !important; }
  .show-progress-article {
    font-size: 14px; }
  .show-progress {
    width: 40px;
    min-width: 40px;
    height: 25px;
    font-size: 14px; }
  .show-article {
    height: 30px;
    padding: 0px 10px;
    font-size: 10px; }
  .searchBtn {
    width: 30px;
    height: 30px; }
  .single-arrow {
    width: 30px;
    height: 30px; }
  .init-content__arhive-projects-title {
    font-size: 10px !important; }
  .init-content__arhive-projects-title::after {
    top: 1px; }
  .init-content__arhive-projects-title:hover::after {
    top: 1px; } }

@media screen and (max-width: 900px) {
  .show-progress-article {
    font-size: 10px; }
  .show-article {
    height: 25px;
    font-size: 7px; }
  .searchBtn {
    width: 25px;
    height: 25px; }
  .single-arrow {
    width: 25px;
    height: 25px; } }

@media screen and (max-width: 600px) {
  .show-progress {
    width: 25px;
    min-width: 25px;
    height: 20px;
    font-size: 8px; }
  .init-content__item-leftBtn {
    width: calc(60% - 15px) !important;
    margin-left: 15px !important; }
  .init-content__item-rightBtn {
    width: calc(60% - 15px) !important;
    margin-right: 15px !important; }
  div > .init-content__arhive-projects {
    height: 35px !important; }
  .init-content__item {
    height: 50px !important; }
  .single-arrow {
    width: 25px;
    height: 25px; }
  .show-progress-article {
    font-size: 8px; }
  .show-article {
    height: 15px;
    font-size: 5px; }
  .searchBtn {
    width: 15px;
    height: 15px;
    background-size: 50%; }
  .searchBtn:hover {
    background-size: 50%; }
  .single-arrow {
    width: 15px;
    height: 15px;
    background-size: 50%; }
  .single-arrow:hover {
    background-size: 50%; } }

@media screen and (max-width: 400px) {
  .init-content__item {
    height: 40px !important; }
  .show-progress {
    width: 20px;
    min-width: 20px;
    height: 15px;
    font-size: 6px; }
  .show-progress-article {
    font-size: 7px;
    margin-left: 10px; } }

.dashboard {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  position: relative; }
  .dashboard__left-btn {
    width: 20%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center; }
    .dashboard__left-btn-reload {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: #ff503f url(../img/reload.png) no-repeat center;
      transition: .6s; }
      .dashboard__left-btn-reload:hover {
        background: #373d44 url(../img/reload-act.png) no-repeat center;
        cursor: pointer; }
      .dashboard__left-btn-reload:focus {
        outline: none; }
      .dashboard__left-btn-reload:active {
        background: #b9a2a2; }
    .dashboard__left-btn-dashboard {
      width: 120px;
      height: 40px;
      margin-left: 15px;
      background: #f1f1f1;
      border: 1px solid #dfdfdf;
      border-radius: 15px;
      font-size: 14px;
      font-family: "Helvetica Neue";
      color: #4b4b4b; }
      .dashboard__left-btn-dashboard:hover {
        cursor: pointer;
        border: none;
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75); }
      .dashboard__left-btn-dashboard:focus {
        outline: none; }
      .dashboard__left-btn-dashboard:active {
        background: #7c7878; }
  .dashboard__right-btn {
    width: 20%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center; }
    .dashboard__right-btn-arrow {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      border-radius: 50px;
      background: #aacc4e url(../img/Arrow.png) no-repeat center;
      transition: .6s; }
      .dashboard__right-btn-arrow:hover {
        background: #aacc4e url(../img/Arrow-act.png) no-repeat center;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75); }
      .dashboard__right-btn-arrow:focus {
        outline: none; }
      .dashboard__right-btn-arrow:active {
        background: #b9a2a2; }
    .dashboard__right-btn-active-user {
      width: 170px;
      height: 40px;
      background: #f1f1f1;
      border: 1px solid #dfdfdf;
      border-radius: 15px;
      font-size: 14px;
      font-family: "Helvetica Neue";
      color: #4b4b4b;
      position: relative; }
      .dashboard__right-btn-active-user::before {
        content: url(../img/conversation.png);
        position: absolute;
        left: 10px; }
      .dashboard__right-btn-active-user::after {
        content: url(../img/arraw-smal.png);
        position: absolute;
        right: 15px; }
      .dashboard__right-btn-active-user:hover {
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer; }
        .dashboard__right-btn-active-user:hover::after {
          content: url(../img/arraw-smal-act.png);
          position: absolute;
          right: 15px; }
      .dashboard__right-btn-active-user:focus {
        outline: none; }
      .dashboard__right-btn-active-user:active {
        background: #7c7878; }

.menu {
  width: 25px;
  height: 25px;
  display: none;
  background: url(../img/BgProjects.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 5px; }
  .menu:hover {
    background: url(../img/BgProjects-act.png) no-repeat center;
    background-size: contain; }
  .menu:focus {
    outline: none; }

@media screen and (max-width: 1500px) {
  .dashboard__right-btn {
    width: 25%; } }

@media screen and (max-width: 1400px) {
  .dashboard__left-btn {
    width: 20%; }
  .dashboard__right-btn {
    width: 30%; } }

@media screen and (max-width: 1300px) {
  .dashboard__right-btn {
    width: 25%; }
  .dashboard {
    height: 60px; }
  .init-content {
    height: calc(100vh - 140px); }
  .dashboard__left-btn-reload {
    width: 30px;
    height: 30px; }
  .dashboard__left-btn-dashboard {
    width: 100px;
    height: 30px;
    font-size: 12px; }
  .dashboard__right-btn-arrow {
    width: 30px;
    height: 30px; }
  .dashboard__right-btn-active-user {
    height: 30px;
    font-size: 12px; }
  .dashboard__right-btn-active-user::before {
    content: url(../img/conversation.png);
    position: absolute;
    left: 10px;
    top: 5px; } }

@media screen and (max-width: 1100px) {
  .dashboard__right-btn {
    width: 30%; } }

@media screen and (max-width: 900px) {
  .dashboard__left-btn {
    width: 25%; }
  .dashboard__right-btn {
    width: 35%; } }

@media screen and (max-width: 750px) {
  .dashboard__left-btn {
    width: 30%; }
  .dashboard__right-btn {
    width: 40%; } }

@media screen and (max-width: 650px) {
  .dashboard {
    height: 50px; }
  .init-content {
    height: calc(100vh - 130px); }
  .dashboard__right-btn {
    width: 40%; }
  .dashboard__left-btn {
    width: 40%; }
  .dashboard {
    height: 60px; }
  .init-content {
    height: calc(100vh - 140px); }
  .dashboard__left-btn-reload {
    width: 20px;
    height: 20px;
    background-size: 50%; }
  .dashboard__left-btn-reload:hover {
    width: 20px;
    height: 20px;
    background-size: 50%; }
  .dashboard__left-btn-dashboard {
    width: 100px;
    height: 30px;
    font-size: 10px; }
  .dashboard__right-btn-arrow {
    width: 20px;
    height: 20px;
    background-size: 50%; }
  .dashboard__right-btn-active-user {
    height: 30px;
    font-size: 10px; } }

@media screen and (max-width: 600px) {
  .dashboard__right-btn {
    width: 45%; } }

@media screen and (max-width: 550px) {
  .dashboard__left-btn {
    width: 40%; }
  .dashboard__right-btn {
    width: 50%; } }

@media screen and (max-width: 500px) {
  .menu {
    display: flex; }
  .dashboard {
    height: 30px; }
  .init-content {
    height: calc(100vh - 70px) !important; }
  .dashboard__left-btn {
    width: 40%; }
  .dashboard__right-btn {
    width: 40%; }
  .dashboard__right-btn-active-user {
    height: 30px;
    width: 150px;
    height: 25px;
    font-size: 10px; }
  .dashboard__left-btn-dashboard {
    width: 80px;
    height: 25px;
    margin-left: 10px; }
  .dashboard__right-btn-arrow {
    margin-right: 10px; }
  .dashboard__right-btn-active-user::before {
    left: 12px;
    top: 2px; }
  .dashboard__left-btn-reload {
    width: 15px;
    height: 15px; }
  .dashboard__left-btn-reload:hover {
    width: 15px;
    height: 15px; }
  .dashboard__left-btn-dashboard {
    width: 55px;
    height: 18px;
    font-size: 7px; }
  .dashboard__right-btn-arrow {
    width: 15px;
    height: 15px;
    background-size: 30%; }
  .dashboard__right-btn-arrow:hover {
    background-size: 30%; }
  .dashboard__right-btn-active-user::before {
    left: 2px;
    top: -1px;
    transform: scale(0.6); }
  .dashboard__right-btn-active-user::after {
    transform: scale(0.6);
    right: 5px; }
  .dashboard__right-btn-active-user:hover::after {
    transform: scale(0.6);
    right: 5px; }
  .dashboard__right-btn-active-user {
    width: 90px;
    height: 18px;
    font-size: 7px; } }

@media screen and (max-width: 400px) {
  .dashboard__left-btn {
    width: 55%; }
  .dashboard__right-btn {
    width: 40%; } }

.navigate-menu {
  width: 100%;
  height: 80px;
  display: flex;
  background: #f1f1f1; }
  .navigate-menu__active-projects {
    width: 20%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-top: 1px solid #d3d7da;
    position: relative; }
    .navigate-menu__active-projects:hover {
      cursor: pointer; }
      .navigate-menu__active-projects:hover::before {
        position: absolute;
        content: url(../img/actPr-icon-act.png);
        left: 20px;
        top: 20px; }
    .navigate-menu__active-projects-title {
      font-size: 24px;
      font-family: "Helvetica Neue";
      color: #4b4b4b; }
    .navigate-menu__active-projects::before {
      position: absolute;
      content: url(../img/actPr-icon.png);
      left: 20px;
      top: 20px; }
  .navigate-menu__messenger {
    width: 20%;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    border: 1px solid #d3d7da;
    border-top-right-radius: 4px;
    position: relative; }
    .navigate-menu__messenger:hover {
      cursor: pointer; }
      .navigate-menu__messenger:hover::before {
        position: absolute;
        content: url(../img/messenger-icon-act.png);
        left: 35px; }
    .navigate-menu__messenger-title {
      font-size: 24px;
      font-family: "Helvetica Neue";
      color: #4b4b4b; }
    .navigate-menu__messenger::before {
      position: absolute;
      content: url(../img/messenger-icon.png);
      left: 35px; }
  .navigate-menu__counter-unread {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 13px;
    font-family: "Helvetica Neue";
    color: white;
    font-weight: bold;
    background: #ff503f;
    position: absolute;
    top: 15px;
    right: 55px; }
  .navigate-menu__counter-read {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 13px;
    font-family: "Helvetica Neue";
    color: white;
    font-weight: bold;
    background: #adadad;
    position: absolute;
    top: 15px;
    right: 35px; }

@media screen and (max-width: 1550px) {
  .navigate-menu__active-projects {
    width: 25%; }
  .navigate-menu__messenger {
    width: 25%; } }

@media screen and (max-width: 1300px) {
  .navigate-menu__active-projects {
    width: 25%;
    height: 60px; }
  .navigate-menu__messenger {
    width: 25%;
    height: 59px; }
  .navigate-menu {
    height: 60px; }
  .navigate-menu__active-projects::before {
    top: 10px; }
  .navigate-menu__active-projects:hover::before {
    top: 10px; }
  .navigate-menu__active-projects-title {
    font-size: 20px; }
  .navigate-menu__messenger-title {
    font-size: 20px; }
  .navigate-menu__counter-read {
    top: 10px;
    right: 10px; }
  .navigate-menu__counter-unread {
    top: 10px;
    right: 10px; } }

@media screen and (max-width: 1200px) {
  .navigate-menu__active-projects {
    width: 30%; }
  .navigate-menu__messenger {
    width: 30%; }
  .navigate-menu__active-projects-title {
    font-size: 18px; }
  .navigate-menu__messenger-title {
    font-size: 18px; } }

@media screen and (max-width: 1100px) {
  .navigate-menu__active-projects-title {
    font-size: 16px; }
  .navigate-menu__messenger-title {
    font-size: 16px; } }

@media screen and (max-width: 900px) {
  .navigate-menu__messenger::before {
    position: absolute;
    content: url(../img/messenger-icon.png);
    left: 20px; }
  .navigate-menu__messenger:hover::before {
    transform: scale(0.8);
    left: 20px; }
  .navigate-menu__active-projects::before {
    transform: scale(0.8);
    left: 10px; }
  .navigate-menu__active-projects:hover::before {
    transform: scale(0.8);
    left: 10px; }
  .navigate-menu__counter-read {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    font-size: 11px; }
  .navigate-menu__counter-unread {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    font-size: 11px; }
  .navigate-menu__messenger::before {
    transform: scale(0.8);
    left: 20px; }
  .navigate-menu__messenger:hover::before {
    transform: scale(0.8);
    left: 20px; }
  .navigate-menu__counter-read {
    top: 5px;
    right: 5px; }
  .navigate-menu__counter-unread {
    top: 5px;
    right: 5px; } }

@media screen and (max-width: 800px) {
  .navigate-menu__active-projects-title {
    font-size: 13px; }
  .navigate-menu__messenger-title {
    font-size: 13px; } }

@media screen and (max-width: 700px) {
  .navigate-menu__active-projects-title {
    font-size: 12px; }
  .navigate-menu__messenger-title {
    font-size: 12px; }
  .navigate-menu__messenger::before {
    transform: scale(0.6);
    left: 10px; }
  .navigate-menu__messenger:hover::before {
    transform: scale(0.6);
    left: 10px; }
  .navigate-menu__counter-read {
    top: 5px;
    right: 5px; }
  .navigate-menu__counter-unread {
    top: 5px;
    right: 5px; }
  .navigate-menu__active-projects:hover::before {
    transform: scale(0.6);
    left: 0px; }
  .navigate-menu__active-projects::before {
    transform: scale(0.6);
    left: 0px; }
  .navigate-menu__counter-read {
    width: 20px;
    height: 20px;
    font-size: 8px; }
  .navigate-menu__counter-unread {
    width: 20px;
    height: 20px;
    font-size: 8px; } }

@media screen and (max-width: 600px) {
  .navigate-menu__messenger::before {
    transform: scale(0.6);
    left: 0px; }
  .navigate-menu__messenger {
    width: 35%; }
  .navigate-menu__active-projects {
    width: 35%; } }

@media screen and (max-width: 500px) {
  .init-content {
    height: calc(100vh - 100px); }
  .navigate-menu__active-projects {
    height: 40px; }
  .navigate-menu__messenger {
    height: 39px; }
  .navigate-menu {
    height: 40px; }
  .navigate-menu__active-projects-title {
    font-size: 8px; }
  .navigate-menu__messenger-title {
    font-size: 8px; }
  .navigate-menu__active-projects:hover::before {
    transform: scale(0.5);
    left: 0px;
    top: 0px; }
  .navigate-menu__active-projects::before {
    transform: scale(0.5);
    left: 0px;
    top: 0px; }
  .navigate-menu__messenger::before {
    transform: scale(0.6);
    left: 0px; }
  .navigate-menu__messenger:hover::before {
    transform: scale(0.6);
    left: 0px; }
  .navigate-menu__counter-read {
    width: 20px;
    height: 20px;
    font-size: 8px; }
  .navigate-menu__counter-unread {
    width: 20px;
    height: 20px;
    font-size: 8px; } }

@media screen and (max-width: 400px) {
  .navigate-menu__active-projects:hover::before {
    transform: scale(0.4);
    left: 5px; }
  .navigate-menu__active-projects::before {
    transform: scale(0.4);
    left: 5px; }
  .navigate-menu__messenger::before {
    transform: scale(0.5);
    left: 5px; }
  .navigate-menu__messenger:hover::before {
    transform: scale(0.5);
    left: 5px; }
  .navigate-menu__counter-read {
    width: 15px;
    height: 15px;
    font-size: 6px; }
  .navigate-menu__counter-unread {
    width: 15px;
    height: 15px;
    font-size: 6px; }
  .navigate-menu__active-projects-title {
    font-size: 7px; }
  .navigate-menu__messenger-title {
    font-size: 7px; } }

@media screen and (max-width: 350px) {
  .navigate-menu__active-projects:hover::before {
    transform: scale(0.4);
    left: -3px; }
  .navigate-menu__active-projects::before {
    transform: scale(0.4);
    left: -3px; }
  .navigate-menu__messenger::before {
    transform: scale(0.5);
    left: 0px; }
  .navigate-menu__messenger:hover::before {
    transform: scale(0.5);
    left: 0px; } }

.init-content {
  width: 100%;
  height: calc(100vh - 180px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-top: 1px solid #d3d7da; }
  .init-content__data {
    width: 70%;
    height: 95%;
    background: #feffff;
    border: 1px solid #d3d7da;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75); }
  .init-content__active-users {
    width: 28%;
    height: 95%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    background: #feffff;
    border: 1px solid #d3d7da;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75); }
  .init-content__search-bar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #d3d7da; }
    .init-content__search-bar-input {
      width: 420px;
      font-family: 'Titillium Web', sans-serif;
      font-size: 22px;
      color: #423f3f; }
      .init-content__search-bar-input:focus {
        outline: none;
        padding: 5px 10px;
        border: 1px solid #d3d7da;
        border-radius: 4px; }
  .init-content__newPrBtn {
    height: 40px;
    padding: 0 40px 0 20px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    color: #4b4b4b;
    position: relative; }
    .init-content__newPrBtn::after {
      content: url(../img/arraw-smal.png);
      position: absolute;
      right: 15px; }
    .init-content__newPrBtn:hover {
      -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
      cursor: pointer; }
      .init-content__newPrBtn:hover::after {
        content: url(../img/arraw-smal-act.png);
        position: absolute;
        right: 15px; }
    .init-content__newPrBtn:focus {
      outline: none; }
    .init-content__newPrBtn:active {
      background: #7c7878; }
  .init-content__addBtn {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 50px;
    background: #ff503f url(../img/addBtn.png) no-repeat center;
    transition: .6s; }
    .init-content__addBtn:hover {
      background: #ff503f url(../img/addBtn-act.png) no-repeat center;
      cursor: pointer;
      transform: rotate(360deg);
      -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75); }
    .init-content__addBtn:focus {
      outline: none; }
    .init-content__addBtn:active {
      background: #b9a2a2; }
  .init-content__data-rightBtn {
    width: inherit;
    height: inherit;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .init-content__data-leftBtn {
    width: inherit;
    height: inherit;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start; }

@media screen and (max-width: 1300px) {
  .init-content {
    height: calc(100vh - 120px); }
  .init-content__data-rightBtn {
    margin-right: 15px; }
  .init-content__data-leftBtn {
    margin-left: 15px; } }

@media screen and (max-width: 1200px) {
  .init-content__search-bar-input {
    width: 260px;
    font-size: 15px; }
  .init-content__newPrBtn {
    height: 30px;
    font-size: 10px; }
  .init-content__addBtn {
    width: 30px;
    height: 30px; } }

@media screen and (max-width: 900px) {
  .init-content__search-bar {
    height: 50px; }
  .init-content__search-bar-input {
    width: 210px;
    font-size: 12px; }
    .init-content__search-bar-input:focus {
      padding: 2px 10px; }
  .init-content__newPrBtn {
    height: 25px;
    font-size: 10px; }
  .init-content__addBtn {
    width: 25px;
    height: 25px; } }

@media screen and (max-width: 800px) {
  .init-content__data {
    width: 87%; }
  .init-content__active-users {
    width: 10%; }
  .init-content__search-bar-input {
    width: 170px;
    font-size: 10px; }
  .init-content__newPrBtn {
    height: 20px;
    font-size: 8px; }
  .init-content__addBtn {
    width: 20px;
    height: 20px; } }

@media screen and (max-width: 600px) {
  .init-content__search-bar {
    height: 35px; }
  .init-content__newPrBtn {
    height: 17px;
    font-size: 6px; }
  .init-content__newPrBtn::after {
    top: 5px; }
  .init-content__newPrBtn::after {
    top: 5px; }
  .init-content__addBtn {
    background-size: 40%;
    margin-left: 5px; }
  .init-content__addBtn:hover {
    background-size: 40%; }
  .init-content__data-rightBtn {
    margin-right: 10px; }
  .init-content__data-leftBtn {
    margin-left: 10px; }
  .init-content__newPrBtn {
    height: 15px;
    font-size: 5px;
    padding: 0 20px 0 10px; }
  .init-content__newPrBtn::after {
    right: 5px;
    top: 4px;
    transform: scale(0.6); }
  .init-content__newPrBtn:hover::after {
    right: 5px;
    top: 4px;
    transform: scale(0.6); } }

@media screen and (max-width: 500px) {
  .init-content {
    height: calc(100vh - 100px); }
  .side-bar {
    display: none; }
  .init-content__search-bar-input {
    width: 140px;
    font-size: 8px; } }

@media screen and (max-width: 350px) {
  .init-content__search-bar {
    height: 30px; }
  .init-content__addBtn {
    width: 15px;
    height: 15px; }
  .init-content__search-bar-input {
    width: 120px;
    font-size: 7px; }
  .init-content__newPrBtn {
    height: 15px;
    font-size: 4px;
    padding: 0 20px 0 10px; } }

.init-content__all-items-container {
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto; }

.init-content__item {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  background: #fbfcfb;
  transition: .6s; }
  .init-content__item:hover {
    background: rgba(133, 204, 154, 0.596); }
  .init-content__item-leftBtn {
    width: calc(60% - 30px);
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px; }
  .init-content__item-rightBtn {
    width: calc(40% - 30px);
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px; }

.init-content__item-off {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  background: url(../img/itemBg.png) no-repeat center;
  background-size: cover;
  transition: .6s; }
  .init-content__item-off:hover {
    background: #81aab1; }
  .init-content__item-off-leftBtn {
    width: calc(40% - 30px);
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px; }
  .init-content__item-off-rightBtn {
    width: calc(60% - 30px);
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px; }

.init-content__arhive-projects {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  background: #fbfcfb; }
  .init-content__arhive-projects:hover {
    background: rgba(209, 209, 206, 0.63); }
  .init-content__arhive-projects-title {
    display: flex;
    margin-left: 30px;
    font-size: 18px;
    font-family: "Helvetica Neue";
    color: #7b7b7b;
    position: relative; }
    .init-content__arhive-projects-title:hover {
      cursor: pointer; }
      .init-content__arhive-projects-title:hover::after {
        content: url(../img/arhive-arr-act.png);
        position: absolute;
        right: -20px; }
    .init-content__arhive-projects-title::after {
      content: url(../img/arhive-arr.png);
      position: absolute;
      right: -20px; }

@media screen and (max-width: 900px) {
  .init-content__all-items-container {
    height: calc(100% - 50px); } }

@media screen and (max-width: 600px) {
  .init-content__all-items-container {
    height: calc(100% - 35px); } }

@media screen and (max-width: 350px) {
  .init-content__all-items-container {
    height: calc(100% - 30px); } }

@media screen and (max-width: 1550px) {
  .show-progress-line-through {
    font-size: 16px; } }

@media screen and (max-width: 1300px) {
  .show-progress-line-through {
    font-size: 12px; } }

@media screen and (max-width: 1200px) {
  .user-online {
    width: 30px;
    height: 30px; }
  .user-offline {
    width: 30px;
    height: 30px; }
  .user-show-online {
    width: 30px;
    height: 30px; }
  .user-show-offline {
    width: 30px;
    height: 30px; }
  .count-active-users {
    width: 30px;
    height: 30px;
    font-size: 9px; }
  .user-show-online::after {
    top: -5px; }
  .user-show-offline::after {
    top: -5px; }
  .show-time {
    height: 35px;
    font-size: 11px; }
  .show-progress-line-through {
    font-size: 10px; } }

@media screen and (max-width: 1000px) {
  .init-content__item-off {
    height: 70px; }
  .show-progress-off {
    width: 40px;
    min-width: 40px;
    height: 25px;
    font-size: 14px; }
  .show-progress-ready {
    width: 40px;
    min-width: 40px;
    height: 25px;
    font-size: 6px; }
  .show-progress-line-through {
    font-size: 9px; }
  .show-time {
    display: none; }
  .count-active-users {
    margin-right: 0px; } }

@media screen and (max-width: 900px) {
  .init-content__item-off-leftBtn {
    width: 100%; } }

@media screen and (max-width: 600px) {
  .init-content__item-off {
    height: 50px; }
  .init-content__item-off-leftBtn {
    margin-left: 15px; }
  .show-progress-off {
    width: 25px;
    min-width: 25px;
    height: 20px;
    font-size: 8px; }
  .show-progress-ready {
    width: 25px;
    min-width: 25px;
    height: 20px;
    font-size: 5px; }
  .show-progress-line-through::after {
    top: -2px; }
  .init-content__item-off-rightBtn {
    margin-right: 15px; }
  .user-online {
    width: 20px;
    height: 20px; }
  .user-offline {
    width: 20px;
    height: 20px; }
  .user-show-online {
    width: 20px;
    height: 20px; }
  .user-show-offline {
    width: 20px;
    height: 20px; }
  .count-active-users {
    width: 20px;
    height: 20px;
    font-size: 6px; }
  .user-show-online::after {
    top: -7px;
    right: -2px;
    transform: scale(0.6); }
  .user-show-offline::after {
    top: -7px;
    right: -2px;
    transform: scale(0.6); }
  .searchBtn {
    margin-left: 5px; }
  .init-content__arhive-projects-title {
    display: flex;
    margin-left: 20px; } }

@media screen and (max-width: 400px) {
  .init-content__item-off {
    height: 40px; }
  .show-progress-off {
    width: 20px;
    min-width: 20px;
    height: 15px;
    font-size: 6px; }
  .show-progress-ready {
    width: 20px;
    min-width: 20px;
    height: 15px;
    font-size: 4px; }
  .show-progress-line-through {
    font-size: 7px;
    margin-left: 10px; } }

.user-item {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaea; }
  .user-item:hover {
    background: #aecdd6; }
  .user-item:hover .user-data {
    color: #cf7e7e; }
  .user-item:hover .user-data-activity {
    color: #5e5858; }

.color {
  color: #4b4b4b; }

.user-data {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Helvetica Neue";
  margin-left: 10px;
  color: #bababa; }
  .user-data-activity {
    font-size: 14px;
    color: #ccc; }

.scale {
  transform: scale(1.3); }

@media screen and (max-width: 1400px) {
  .user-data {
    font-size: 15px; } }

@media screen and (max-width: 1300px) {
  .user-data {
    font-size: 12px; } }

@media screen and (max-width: 1200px) {
  .user-item {
    height: 70px; } }

@media screen and (max-width: 1000px) {
  .user-data {
    font-size: 9px; } }

@media screen and (max-width: 800px) {
  .user-data {
    display: none; }
  .display-none {
    display: none; }
  .displey-block {
    display: block; }
  .user-show-online {
    margin-right: 0; }
  .user-show-offline {
    margin-right: 0; } }

@media screen and (max-width: 700px) {
  .user-item {
    height: 60px; } }

@media screen and (max-width: 600px) {
  .user-item {
    height: 45px; } }

@media screen and (max-width: 400px) {
  .user-item {
    height: 40px; } }

@media screen and (max-width: 350px) {
  .user-item {
    height: 35px; } }
