
.all-product-price{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-around;
}

.price-centr{
	display: flex;
	flex-direction: column;
	align-items: center;
	span{
		font-size: 13px;
		font-family: "Lato";
		color: rgb(125, 125, 125);
		line-height: 2.592;
		user-select: none;
	}
}

.products__price1{
	width: 60px;
	height: 60px;
	background: url(../img/3.50.png)no-repeat center;
	background-size: 70%;
	border-radius: 50%;
	&:hover ~ .active{
		transition: .5s;
		display: inline-block;
		color: rgb(199, 125, 42);
	}
}

.products__price2{
	@extend .products__price1 ;
	background: #fad482 url(../img/2.50.png)no-repeat center;
	background-size: 70%;
}

.products__price3{
	@extend .products__price1 ;
	background: #84d5d8 url(../img/1.95.png)no-repeat center;
	background-size: 70%;
}

.products__price4{
	@extend .products__price1 ;
	background: url(../img/49.95.png)no-repeat center;
	background-size: 80%;
}

.products__price5{
	@extend .products__price1 ;
	background: #fad482 url(../img/44.95.png)no-repeat center;
	background-size: 80%;
}

.products__price6{
	@extend .products__price1 ;
	background: #84d5d8 url(../img/35.95.png)no-repeat center;
	background-size: 80%;
}

.products__price7{
	@extend .products__price1 ;
	background: url(../img/30.00.png)no-repeat center;
	background-size: 80%;
}

.products__price8{
	@extend .products__price1 ;
	background: #fad482 url(../img/24.00.png)no-repeat center;
	background-size: 80%;
}

.products__price9{
	@extend .products__price1 ;
	background: #84d5d8 url(../img/24.00w.png)no-repeat center;
	background-size: 80%;
}

.products__price10{
	@extend .products__price1 ;
	background: #fad482 url(../img/4.50.png)no-repeat center;
	background-size: 70%;
}

.products__price11{
	@extend .products__price1 ;
	background: #fad482 url(../img/3.50.png)no-repeat center;
	background-size: 70%;
}

.products__price12{
	@extend .products__price1 ;
	background: #84d5d8 url(../img/2.25.png)no-repeat center;
	background-size: 70%;
}