
.main-page-menu{
	width: 100%;
	padding: 0 11%;
	background: transparent;
	position: absolute;
	top: 100px;
	z-index: 10;
	a{
		color: #fff;
		&:hover{
			color: #104477;
		}
	}
}

.slider-bottom-all-img{
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f6e8e46b;
	position: absolute;
	bottom: 0;
}

.slider-bottom-img{
	width: 320px;
	height: 180px;
	margin: 0 10px;

}

.lazy::before{
	content: url(../img/token.png);
	position: absolute;
	top: -15%;
	left: -40%;
}

.bottom-img1{
	background: #9bb8d2b2 url(../img/bottom-img1.png)no-repeat center;
	background-size: 60%;
	transition: .5s;
	&:hover{
		background: #9bb8d2 url(../img/bottom-img1.png)no-repeat center;
		background-size: 60%;
	}
}

.bottom-img2{
	background: #56585aa4 url(../img/bottom-img2.png)no-repeat center;
	background-size: 50%;
	transition: .5s;
	&:hover{
		background: #6a6d70 url(../img/bottom-img2.png)no-repeat center;
		background-size: 50%;
	}
}

.bottom-img3{
	background: #9aa681bd url(../img/bottom-img3.png)no-repeat center;
	background-size: 70%;
	transition: .5s;
	&:hover{
		background: #9aa681 url(../img/bottom-img3.png)no-repeat center;
		background-size: 70%;
	}
}
.slider-container{
	width: 100%;
	height: 900px;
	background: url(../img/Brightness_Contrast.png)no-repeat center;
	background-size: cover;
	position: relative;
}

.text_center{
	text-align: center;
}
.content-text{
	width: 100%;
	height: 140px;
	overflow: auto;
	text-align: center;
	font-size: 17px;
	font-family: "Lato";
	color: rgb(112, 112, 112);
	line-height: 1.231;
	font-weight: 200;
}

.main_height-all-items{
	height: 450px;
}

.news_all-item-height{
	height: 500px;
	margin-top: 20px;
}
.following-products .main_size-hr{
	width: 260px;
	height: 1px;
	background: #84d5d8;
}

.following-products .news_size-hr{
	width: 70px;
}

.following-products__price_margin-bottom{
	position: absolute;
	bottom: 80px;
}

.first-featured-img{
	background: url(../img/Layer8.png)no-repeat center;
	background-size: cover;
	&:hover{
		border-radius: 50%;
	}
}

.second-featured-img{
	background: url(../img/Layer9.png)no-repeat center;
	background-size: cover;
	&:hover{
		border-radius: 50%;
	}
}

.third-featured-img{
	background: url(../img/Layer10.png)no-repeat center;
	background-size: cover;
	&:hover{
		border-radius: 50%;
	}
}

.fourth-featured-img{
	background: url(../img/Layer11.png)no-repeat center;
	background-size: cover;
	&:hover{
		border-radius: 50%;
	}
}

.first-news-img{
	background: url(../img/Layer12.png)no-repeat center;
	background-size: cover;
	&:hover{
		border-radius: 36% 64% 30% 70% / 70% 48% 52% 30%;
	}
}

.second-news-img{
	background: url(../img/Layer13.png)no-repeat center;
	background-size: cover;
	&:hover{
		border-radius: 36% 64% 30% 70% / 70% 48% 52% 30%;
	}
}

.third-news-img{
	background: url(../img/Layer14.png)no-repeat center;
	background-size: cover;
	&:hover{
		border-radius: 36% 64% 30% 70% / 70% 48% 52% 30%;
	}
}

.fourth-news-img{
	background: #fff url(../img/Layer15.png)no-repeat center;
	background-size: cover;
	border: 1px solid #ccc!important;
	&:hover{
		border-radius: 42% 58% 69% 31% / 70% 86% 14% 30%;
	}
}


.news-img-borde-radius{
	border-radius: 50%;
	border: none;
}
.featured_bg-color{
	background: #ebebeb;
}

.news_bg-color{
	background: #fff;
}

.read-article{
	width: 100%;
	height: 40px;
	height: 40px;
	border-radius: 20px;
	background: #84d5d8;
	font-size: 16px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.44;
	border: none;
	&:focus{
		outline: none;
	}
	&:active{
	background: #ccc;
	}
}

.promoes_bg-size{
	height: 330px;
	margin-top: 30px;
	h2{
		padding-top: 30px;
	}
}

.all-promo-imgs{
	width: 100%;
	height: 185px;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.promoes_bg-color{
	background: #ebebeb;
}

.promo-img-container{
	width: 320px;
	height: 180px;
	margin: 0 5px;
}

.promo-img1{
	background: url(../img/Layer16.png)no-repeat center;
	background-size: contain;
}

.promo-img2{
	background: url(../img/Layer17.png)no-repeat center;
	background-size: contain;
}

.promo-img3{
	background: url(../img/Layer18.png)no-repeat center;
	background-size: contain;
}







