@media screen and (min-width: 2000px) {
    .navigation {
        height: 60px;
    }
    .main-container {
        padding: 0 2%;
    }
    .following-products {
        height: 650px;
    }
    .all-items {
        height: 420px;
    }
    .header__top {
        height: 50px;
    }
    .booking-section {
        height: 940px;
    }
    .booking-section__price {
        width: 70%;
        margin: 40px 0;
    }
    .booking-section p {
        margin: 40px 0;
        font-size: 30px;
    }
    .booking-section__order h2 {
        margin-bottom: 40px;
        font-size: 32px;
    }
    .review {
        font-size: 18px;
    }
    .in-stock-btn {
        width: 100px;
        height: 30px;
        font-size: 13px;
    }
    .share-us a {
        width: 30px;
        height: 30px;
    }
    .add-btn {
        width: 40%;
        margin-left: 115px;
    }
    .add-to-wish {
        font-size: 16px;
    }
    .price1 article{
        margin-top: 10px;
        font-size: 15px;
    }
    .in-stock-btn {
        margin-top: 20px;
    }
    .main-container {
        height: 2100px;
    }
    .description .link {
        font-size: 20px;
    }
    .tabs-style p {
        font-size: 17px;
    }
    .list-container dt {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .list-container span {
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px) {
    .main-container {
        padding: 0 2%;
    }
    .show-img1{
        background: url(../img/Mainimage.png) no-repeat -35px -10px;
        background-size: cover;
        margin-left: 10px;
    }
    .price1 {
        width: 60px;
        margin: 0;
    }
    .price1__ring {
        width: 50px;
        height: 50px;
    }
    .price4__ring{
        width: 80px;
        height: 80px;
    }
    .price4{
        display: flex;
        justify-content: flex-start;
    }
    .booking-section__price {
        width: 90%;
    }
    .article-img {
        width: 80px;
        height: 80px;
    }
    .booking-section__order {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .choose-img {
        width: 80px;
    }
    .show-img {
        height: 350px;
        width: 320px;
    }
    .following-products h2 {
        font-size: 21px;
    }
    .following-products {
        width: 100%;
        height: 420px;
    }
    .description{
        height: 1200px;
    }
    .following-products{
        margin-top: 50px;
    }
    .all-items article {
        text-align: center;
    }
}


