*{
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.header{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    position: absolute;
    top: 0;
    &__logo{
        width: 50%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        &-img{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 24px;
            text-transform: capitalize;
            color: #fff;
        }
    }
    &__contact{
        width: 50%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-numbers{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 8%;
            a{
                font-family: Montserrat;
                font-size: 16px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                color: #fff;
                text-decoration: none;
                transition: .4s;
            }
        }
        &-numbers::before{
            content: url(../img/Vector.png);
            position: absolute;
            margin-left: -60px;
            
        }
    }
}

.main-content{
    width: 100%;
    height: 950px;
    background: url(../img/Rectangle.png) no-repeat center;
    &__item{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 79px;
        &-link{
            display: flex;
            width: 50%;
        }
        a{
            width: 70px;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-transform: capitalize;
            color: #fff;
            text-decoration: none;
            &:hover{
                border-top:  3px solid #fff;
                height: 73px;
            }
        }
    }

    h2{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 324px;
        font-family: Cinzel;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 48px;
        text-align: center;
        color: #fff;
    }

    h3{
        position: absolute;
        top: 287px;
        left: 20%;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 10px 25px rgba(219, 172, 129, 0.25), 0px 4px 15px rgba(219, 172, 129, 0.25);
        &:before{
            content: url(../img/Line3.png);
            position: absolute;
            right: calc(100% + 24px);
            bottom: 5px;
        }
    }
}

.search-form{
    width: 100%;
    height: 84px;
    position: absolute;
    top: 480px; 
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        display: block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 16px;
        text-transform: uppercase;
        color: #DBAC81;
        margin: 14px 0 0 12px;
    }
}

#search{
    width: calc(60vw - 25px);
    height: 80px;
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-transform: capitalize;
    color: #312E2A;
    padding-left: 25px;
    outline: none;
}

#search-btn{
    width: 10%;
    height: 62px;
    text-align: center;
    position: absolute;
    left: 69.5%;
    background: #CCA776;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    &:active{
        background: rgb(78, 73, 73);
    }
}

.chose-search{
    width: 10%;
    height: 80px;
    position: absolute;
    left: 49%;
    border-left: 1px solid #CCA776;
}
.chose-result{
    width: 10%;
    height: 80px;
    position: absolute;
    left: 59%;
    border-left: 1px solid #CCA776;
}


.serch-by-form{
	width: 10%;
    height: 30%;
    position: absolute;
    top: 520px; 
    left: 49%;
}

.show-result-form{
	width: 10%;
    height: 30%;
    position: absolute;
    top: 520px; 
    left: 59%;
}


.select{
	width: 10%;
	height: 40px;
	cursor: pointer;
	
	&_expand{
		width: 0;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
	}
	
	&_expandLabel{
		display: block;
		width: 90%;
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	
	&_close{
        display: none
    }
		
	&_items{
		width: 90%;
		position: absolute;
        top: 10px;
        left: 5%;
        border-bottom: 1px solid #DBAC81;
		border-radius: 2px;
        padding-top: 20px;
        overflow: hidden;
        &::after{
            content: url(../img/VectorArr.png);
            pointer-events: none;
            position: absolute;
            top: 0;
            right: 5px;
		}
    }



	&_input{
        display: none;
    }
	
	&_label{
		transition: all 250ms cubic-bezier(.4,.25,.3,1);
		display: block;
        height: 0;
        overflow: hidden;
        background: #fff;
		cursor: pointer;
        text-align: center;
		
		&-placeholder{
			height: 40px;
			vertical-align: middle;
			position: absolute;
			top: 10px;
			left: 12px;
			opacity: .6;
            background-color: transparent;
            padding-left: 0;
		}
	}
	
	&_expand:checked{
		+ .select_closeLabel{
			display: block;
			
			+ .select_options{
				.select_label{
					height: 40px;
					&:hover{
                        background-color: #DBAC81;
                    }
                }
                
				+ .select_expandLabel{
                    display: none
                }
			}
		}
    }
}   

.content-rectangle{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 750px;
    background: linear-gradient(89.12deg, rgba(43, 43, 43, 0.9) -1.33%, rgba(0, 0, 0, 0) 90.07%);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    &__item{
        width: 33%;
        height: inherit;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            letter-spacing: 0.25em;
            text-transform: uppercase;
            color: #CDBD9B;
        }
        a{
            margin-top: 20px;
            font-family: Cinzel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 32px;
            color: #FFF;
            text-decoration: none;
        }
    }
}
.first-item::before{
    content: url(../img/8-8.png);
    position: absolute;
    left: 5%;
}

.second-item::before{
    content: url(../img/8-6.png);
    position: absolute;
    left: 38%; 
}

.third-item::before{
    content: url(../img/8-5.png);
    position: absolute;
    left: 71%; 
}

// <!-- ------WHY YOU NEED US------ -->

.about-us{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    &__info{
        display: flex;
        flex-direction: column;
        &-active::before{
            content: url(../img/Vector3.png);
            margin-right: 5px;
        }
        &-no-active::before{
            content: url(../img/Vector2.png);
            margin-right: 5px;
        }
    }
    h4{
        margin-bottom: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #CDBD9B;
        text-shadow: 0px 10px 25px rgba(219, 172, 129, 0.25), 0px 4px 15px rgba(219, 172, 129, 0.25);
    }
    p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        font-size: 16px;
        color: #2B2B2B;
        margin: 0 0 10px 30px;
        &::first-letter{
            font-family: Cinzel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 40px;
            color: #CDBD9B;
        }
    }
    &__tittle{
        height: 200px;
        width: 20%;
        padding-left: 5%;
        position: absolute;
        top: 20%;
        left: 5%;
        border-right: 1px solid #CDBD9B;
        &:before{
            content: url(../img/Line3.1.png);
            position: absolute;
            left: 0;
        }
        h4{
            font-family: Cinzel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 32px;
            color: #312E2A;
            text-shadow: none;
        }
    }
}

.practice-areas{
    width: 100%;
    height: 1050px;
    padding-bottom: 40px;
    background: #484250;
    &__top-info{
        width: 100%;
        height: 250px;
        h3{
            position: relative;
            padding: 100px 0 0  20%;
            margin-bottom: 16px;
            font-family: Cinzel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 32px;
            color: #FFF;
            &:before{
                content: url(../img/Line3.2.png);
                position: absolute;
                left: 15%;
                bottom: 10px;
            }
        }
        p{
            padding-left: 20%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            line-height: 22px;
            font-size: 16px;
            color: #CDBD9B;
        }
    }
    &__content{
        width: 60%;
        height: 800px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        &-item{
            width: 50%;
            height: 25%;
            position: relative;
            &:hover{
                border: 1px solid #CDBD9B;
                box-sizing: border-box;
            }
            &:hover a{
                visibility: visible;
            }
            h3{
                margin: 20px 0 20px 18%;
                font-family: Cinzel;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 24px;
                color: #DBAC81;
            }
            p{
                margin-left: 18%;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                line-height: 20px;
                font-size: 14px;
                color: #FFFFFF;
            }
            a{  
                visibility: hidden;
                position: absolute;
                right: 60px;
                top: 10px;
                font-family: Cinzel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 14px;
                color: #DBAC81;
                text-decoration: none;
                overflow: hidden;
                &::after{
                    content: url(../img/long-arrow-right.png);
                    position: relative;
                    top: 10px;
                }
            }
        }
    }
    &__item1::before{
        content: url(../img/8-3.png);
        position: absolute;
        top: 20px;
        left: 40px;
    }
    &__item2::before{
        content: url(../img/8-81.png);
        position: absolute;
        top: 20px;
        left: 40px;
    }
    &__item3::before{
        content: url(../img/8-2.png);
        position: absolute;
        top: 20px;
        left: 40px;
    }
    &__item4::before{
        content: url(../img/8-71.png);
        position: absolute;
        top: 20px;
        left: 40px;
    }
    &__item5::before{
        content: url(../img/8-61.png);
        position: absolute;
        top: 20px;
        left: 40px;
    }
    &__item6::before{
        content: url(../img/8-1.png);
        position: absolute;
        top: 20px;
        left: 40px;
    }
    &__item7::before{
        content: url(../img/8-51.png);
        position: absolute;
        top: 20px;
        left: 40px;
    }
    &__item8::before{
        content: url(../img/8-4.png);
        position: absolute;
        top: 20px;
        left: 40px;
    }
}

.statistica{
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    background: url(../img/image.png)no-repeat;
    background-size: cover; 
    &__table{
        width: 500px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 25%;
        background: url(../img/Untitled-1.png);
        &-item{
            height: 200px;
            width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                font-family: Cinzel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 72px;
                color: #FFF;
            }
            h3{
                font-family: Cinzel;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 24px;
                color: #CDBD9B;
            }
        }
    }
}

.footer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #484250;
    position: relative;
    &-form{
        width: 30%;
        height: 70vh;
        h3{
            padding: 10vh 0 5vh 0;
            padding-left: 20%;
            font-family: Cinzel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 32px;
            color: #FFF;
            &::after{
                content: url(../img/Line3.2.png);
                position: relative;
                left: -30%;
                bottom: 50px;
            }
        }
        input{
            width: 80%;
            padding: 15px 0;
            background: transparent;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            color: #CDBD9B;
            border: none;
            border-bottom: 1px solid #FFF;
            &:focus{
                outline: none;
                border-bottom: 2px solid #CDBD9B;
                box-shadow: 0px 3px 1px -4px rgba(219, 172, 129, 0.25);
            }

        }
    }
    &-contact{
        width: 30%;
        height: 70vh;
    }
    &-map{
        width: 100%;
        height: 310px;
        background: rgb(59, 56, 56);
        overflow: hidden;
        &__iframe{
            position: relative;
            z-index: 9999;
        }
    }
    &-map::after{
        content: url(../img/Rectangle1.png);
        height: 200px;
        position: absolute;
        top: 370px;
        left: 52%;
        z-index: 99;
    }
    &-contact{
        h3{
            padding: 10vh 0 5vh 0;
            font-family: Cinzel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 32px;
            color: #FFFFFF;
        }
        &__container{
            width: 100%;
            height: 110px;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 20px;
            &-item{
                width: 50%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                a{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 25px;
                    font-size: 18px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}

#description{
    padding-top: 60px;
}

.footer-btn{
    width: 35%;
    margin-top: 40px;
    margin-left: 5%;
    padding: 6px 0;
    border: 2px solid #CDBD9B;
    background: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    font-size: 14px;
    color: #FFF;
    &:hover{
        background: #CDBD9B;
        box-shadow: 0px 10px 25px rgba(219, 172, 129, 0.25), 0px 4px 15px rgba(219, 172, 129, 0.25);
        border: none;
        outline: none;
    }
}

.footer-send{
    margin-left: 5%;
}

.footer-item1::before{
    content: url(../img/V1.png);
    position: absolute;
    left: 0;
}
.footer-item2::before{
    content: url(../img/V2.png);
    position: absolute;
    left: 0;
}
.footer-item3::before{
    content: url(../img/V3.png);
    position: absolute;
    left: 0;
}
.footer-item4::before{
    content: url(../img/V4.png);
    position: absolute;
    left: 0;
}


.footer-links{
    width: 100%;
    height: 30vh;
    &__item{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 70px;
        a{
            margin-right: 50px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            color: #FFF;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}

hr{
    display: block;
    width: 30%;
    margin: 60px auto 0;
    background: #CDBD9B;
}

.footer-logo{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    a{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 24px;
        text-transform: capitalize;
        color: #FFFF;
        text-decoration: none;
    }
}