
.user-chat-message{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.search-input{
	width: 100%;
	height: 47px;
	border: none;
	padding: 0  20px 0 60px;
	border-bottom: 1px solid #F5F6F9;
	&::placeholder{
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.5px;
		color: #252F48;
		opacity: 0.2;
	}
	&:focus{
		outline: none;
	}
}

.search-btn{
	width: 20px;
	height: 20px;
	border: none;
	background: url(../img/search.png)no-repeat center;
	position: absolute;
	top: 14px;
	left: 20px;
	&:hover{
		cursor: pointer;
	}
}

.message-fild{
	width: 100%;
	height: calc(100% - 110px);
	display: flex;
	flex-direction: column;
	background: #fff;
	overflow: auto;
}

.message-date{
	width: 100%;
	margin-bottom: 90px;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.5px;
	color: #CACED9;;
}

.friend-message{
	width: 100%;
	display: flex;
	position: relative;
	margin-bottom: 20px;
}

.friend-avatar_message{
	width: 36px;
	height: 36px;
	margin-left: 20px;
	border-radius: 50px;
	border: none;
	position: absolute;
	bottom: 0;
	&:hover{
		cursor: pointer;
	}
}

.friend-sent-message{
	width: 200px;
	display: flex;
	background: #F7F9FC;
	border-radius: 5px;
	margin: 0 0 0 80px;
	position: relative;
	padding: 15px 85px 15px 15px;
	font-size: 14px;
	line-height: 20px;
	color: #222428;
	&::before{
		content: url(../img/Vector.png);
		position: absolute;
		bottom: -9px;
		left: -14px;
	}
}

.my-message{
	@extend .friend-message ;
	justify-content: flex-end;
}

.my-sent-message{
	@extend .friend-sent-message ;
	margin-right: 30px;
	&::before{
		content: '';
	}
	&::after{
		content: url(../img/Vector2.png);
		position: absolute;
		bottom: -9px;
		right: -14px;
	}
}

.bottom-time-of-receipt{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #9BA0AD;
}


.message-send-form{
	width: 100%;
	height: 63px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 0px 20px rgba(153, 163, 174, 0.146541);
	position: relative;
	z-index: 10;
}

.write-messege{
	width: 400px;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.5px;
	color: #252F48;
	mix-blend-mode: normal;
	opacity: 0.5;
	border: none;
	padding-left: 35px;
	&:focus{
		outline: 0;
	}
}

.all-message-btn{
	width: 160px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.stickers-btn{
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: url(../img/smile.svg)no-repeat center;
	background-size: cover;
	border: none;
	&:hover{
		cursor: pointer;
	}
	&:focus{
		outline: none;
	}
}

.hidden-file-btn{
	display: none;
}

.file-btn{
	width: 20px;
	height: 20px;
	margin-left: 20px;
	background: url(../img/screp.svg)no-repeat center;
	&:hover{
		cursor: pointer;
	}
}

.send-message{
	width: 35px;
	height: 35px;
	margin: 0 10px 0 20px;
	background: url(../img/send-message-button@2x.svg)no-repeat center;
	background-size: 60%;
	box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.259256);
	border-radius: 7px;
	border: none;
	transition: .4s;
	&:hover{
		cursor: pointer;
		transform: scale(1.08);
	}
	&:focus{
		outline: 0;
	}
}