
.our-partners{
	width: 100%;
	height: 100px;
	display: flex;
	background: #fafafa;
	&__item{
		width: 20%;
		height: inherit;
		transition: .6s;
	}
	&__item1{
		background: url(../img/Magellan-122.png)no-repeat center;
		background-size: 50%!important;
		&:hover{
			background: url(../img/Magellan-122-act.png)no-repeat center;
		background-size: 50%!important;
		}
	}
	&__item2{
		@extend .our-partners__item1 ;
		background: url(../img/Kaiser-Permanente-143.png)no-repeat center;
		&:hover{
			background: url(../img/Kaiser-Permanente-143-act.png)no-repeat center;
		}
	}
	&__item3{
		@extend .our-partners__item1 ;
		background: url(../img/Anthem-158.png)no-repeat center;
		&:hover{
			background: url(../img/Anthem-158-act.png)no-repeat center;
		}
	}
	&__item4{
		@extend .our-partners__item1 ;
		background: url(../img/North-Bay-Regional-Center-189.png)no-repeat center;
		&:hover{
			background: url(../img/North-Bay-Regional-Center-189-act.png)no-repeat center;
		}
	}
	&__item5{
		@extend .our-partners__item1 ;
		background: url(../img/Partnership-Health-Plan-of-CA-175.png)no-repeat center;
		&:hover{
			background: url(../img/Partnership-Health-Plan-of-CA-175-act.png)no-repeat center;
		}
	}
	&__item6{
		@extend .our-partners__item1 ;
		background: url(../img/Aetna-140.png)no-repeat center;
		&:hover{
			background: url(../img/Aetna-140-act.png)no-repeat center;
		}
	}
}

