.slider-container{
	width: 100%;
	height: 710px;
	display: flex;
	justify-content: center;
	background: url(../img/Middle.png)no-repeat center -110px;
	background-size: cover;
}

.slider{
	width: 760px;
	height: 500px;
	margin-top: 145px;
	background-size: cover;
	border: 5px solid rgb(255, 254, 254);
	background: rgb(123, 168, 194);
}

//how many images we have
$slides: 3;

// how much we want each slide to show
$time_per_slide: 4;

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;

.photo{
	width: 760px;
	height: 500px;
  	position:absolute;
  	animation:round #{$total_animation_time}s infinite;
	  opacity:0;
}

@keyframes round{
  25%{
    opacity:1;
  }
  60%{
    opacity:0;
  }
}

@for $index from 1 to $slides + 1{
  img:nth-child(#{$index}){
    animation-delay:#{$total_animation_time - $time_per_slide * $index}s
  }
}

