.chat-container{
	width: calc(100% - 100px);
	min-width: 552px;
	max-width: 950px;
	height: 552px;
	display: flex;
	margin-top: 42px;
	box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
	border-radius: 4px;
}

.user-chat-container{
	min-width: 300px;
	height: 100%;
	background: #F7F9FC;
	overflow: scroll;
}

.user-chat-container__unread-message{
	width: calc(100% - 1px);
	height: 92px;
	display: flex;
	align-items: center;
	position: relative;
	background: #F7F9FC;
	border-right: 1px solid #EDF0F4;
}

.user-chat-container__read-message{
	@extend .user-chat-container__unread-message ;
	background: #fff;
}

.friend-avatar{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	border-radius: 50px;
	border: none;
	&:hover{
		cursor: pointer;
	}
}

.message-data{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.time-of-receipt{
	position: absolute;
	top: 10px;
	right: 7px;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #9BA0AD;
}

.mute-sign{
	width: 8px;
	height: 9px;
	position: absolute;
	right: 95px;
	top: 32px;
	border: none;
	background: url(../img/request.svg)no-repeat center;
	&:hover{
		cursor: pointer;
	}
}

.friend-name{
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.571429px;
	color: #01134E;
}

.message-beginning{
	font-size: 14px;
	line-height: 18px;
	color: #252F48;
	opacity: 0.43;
}

.online-sign{
	width: 6px;
	height: 6px;
	border-radius: 50px;
	background: #0AD69C;
	position: absolute;
	top: 22px;
    left: 180px;
}

.active-message{
	background: #FFF;
	box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15);
	border-right: 1px solid #fff;
	position: relative;
	z-index: 10;
}


.first-message-user{
	background: url(../img/Miranda.png)no-repeat center;
}

.second-message-user{
	background: url(../img/barry.png)no-repeat center;
}

.third-message-user{
	background: url(../img/stacey.png)no-repeat center;
}

.fourth-message-user{
	background: url(../img/michael.png)no-repeat center;
}

.fifth-message-user{
	background: url(../img/johny.png)no-repeat center;
}

.sixth-message-user{
	background: url(../img/samantha.png)no-repeat center;
}


