
@media screen and (max-device-width: 1550px) {
    .show-progress-line-through {
        font-size: 16px;
    }    
}

@media screen and (max-device-width: 1300px) {
    .show-progress-line-through {
        font-size: 12px;
    }    
}

@media screen and (max-device-width: 1200px) {
    .user-online {
        width: 30px;
        height: 30px;
    }
    .user-offline {
        width: 30px;
        height: 30px;
    }
    .user-show-online {
        width: 30px;
        height: 30px;
    }
    .user-show-offline {
        width: 30px;
        height: 30px;
    }
    .count-active-users {
        width: 30px;
        height: 30px;
        font-size: 9px;
    }
    .user-show-online::after {
        top: -5px;
    }
    .user-show-offline::after {
        top: -5px;
    }
    .show-time {
        height: 35px;
        font-size: 11px;
    }   
    .show-progress-line-through {
        font-size: 10px;
    }     
}

@media screen and (max-device-width: 1000px) {
    .init-content__item-off {
        height: 70px;
    }
    .show-progress-off {
        width: 40px;
        min-width: 40px;
        height: 25px;
        font-size: 14px;
    }
    .show-progress-ready {
        width: 40px;
        min-width: 40px;
        height: 25px;
        font-size: 6px;
    }
    .show-progress-line-through {
        font-size: 9px;
    }
    .show-time {
        display: none;
    }
    .count-active-users {
        margin-right: 0px;
    }
}

@media screen and (max-device-width: 900px) {
    .init-content__item-off-leftBtn {
        width: 100%;
    }
}

@media screen and (max-device-width: 600px) {
    .init-content__item-off {
        height: 50px;
    }
    .init-content__item-off-leftBtn {
        margin-left: 15px;
    }
    .show-progress-off {
        width: 25px;
        min-width: 25px;
        height: 20px;
        font-size: 8px;
    }
    .show-progress-ready {
        width: 25px;
        min-width: 25px;
        height: 20px;
        font-size: 5px;
    }
    .show-progress-line-through::after {
        top: -2px;
    }
    .init-content__item-off-rightBtn {
        margin-right: 15px;
    }
    .user-online {
        width: 20px;
        height: 20px;
    }
    .user-offline {
        width: 20px;
        height: 20px;
    }
    .user-show-online {
        width: 20px;
        height: 20px;
    }
    .user-show-offline {
        width: 20px;
        height: 20px;
    }
    .count-active-users {
        width: 20px;
        height: 20px;
        font-size: 6px;
    }
    .user-show-online::after {
        top: -7px;
        right: -2px;
        transform: scale(.6);
    }
    .user-show-offline::after {
        top: -7px;
        right: -2px;
        transform: scale(.6);
    }
    .searchBtn {
        margin-left: 5px;
    }
    .init-content__arhive-projects-title {
        display: flex;
        margin-left: 20px
    }
}

@media screen and (max-device-width: 400px) {
    .init-content__item-off {
        height: 40px;
    }
    .show-progress-off {
        width: 20px;
        min-width: 20px;
        height: 15px;
        font-size: 6px;
    }
    .show-progress-ready {
        width: 20px;
        min-width: 20px;
        height: 15px;
        font-size: 4px;
    }
    .show-progress-line-through {
        font-size: 7px;
        margin-left: 10px;
    }
}