.global-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

// All items spans and buttons

.show-progress{
    width: 60px;
    min-width: 60px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff503f;
    border-radius: 4px;
    font-size: 24px;
    font-family: "Helvetica Neue";
    color: rgb(255, 255, 255);
    transition: .1s;
    &:hover{
        transform: scale(1.1);
    }
    &-article{
        font-size: 22px;
        font-family: "Helvetica Neue";
        color: #7b7b7b;
        margin-left: 15px;
    }
    &-line-through{
        font-size: 22px;
        font-family: "Helvetica Neue";
        color: #c2c2c2;
        margin-left: 15px;
        text-decoration:line-through;	
        position: relative;
        &::after{
            content: url(../img/Vektor-Smartobjekt.png);
            position: absolute;
            right: -25px;
        }
    }
}
.show-progress-off{
    width: 60px;
    min-width: 60px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 24px;
    border: 1px solid #ddd;
    font-family: "Helvetica Neue";
    color: #ddd;
    transition: .1s;
    &:hover{
        transform: scale(1.1);
    }
    &-article{
        font-size: 22px;
        font-family: "Helvetica Neue";
        color: #7b7b7b;
        margin-left: 15px;
    }
}
.show-progress-ready{
    width: 60px;
    min-width: 60px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 12px;
    font-family: "Helvetica Neue";
    color: #bebebe;
    font-weight: bold;
    border: 1px solid #ddd;
    transition: .1s;
    &:hover{
        transform: scale(1.1);
    }
    &-article{
        font-size: 22px;
        font-family: "Helvetica Neue";
        color: #7b7b7b;
        margin-left: 15px;
    }
}

.show-article{
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    color: rgb(75, 75, 75);
    text-transform: uppercase;
    &:focus{
        outline: none;
    }
    &:active{
        background: rgb(124, 120, 120);
    }
    &:hover{
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        cursor: pointer;
    }
}
.show-time{
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 0 15px 0 35px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    color: rgb(75, 75, 75);
    text-transform: uppercase;
    position: relative;
    &::before{
        content: url(../img/reload-time.png);
        position: absolute;
        left: 15px;
    }
    &:hover{
        &::before{
            content: url(../img/reload-time-act.png);
            position: absolute;
            left: 15px;
        } 
    }
    &:focus{
        outline: none;
    }
    &:active{
        background: rgb(124, 120, 120);
    }
    &:hover{
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        cursor: pointer;
    }
}

.searchBtn{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    background: #fff url(../img/search.png) no-repeat center;
    transition: .3s;
    &:hover{
        background: #ff503f url(../img/serch-act.png) no-repeat center;
        cursor: pointer;
        border: 1px solid#ff503f;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    }
    &:focus{
        outline: none;
    }
    &:active{
        background: rgb(185, 162, 162);
    }
}

.single-arrow{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    background: #fff url(../img/arrow-btn.png) no-repeat center;
    transition: .6s;
    &:hover{
        background: url(../img/Arrow-act.png) no-repeat center;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    }
    &:focus{
        outline: none;
    }
    &:active{
        background: rgb(185, 162, 162);
    }
}
.count-active-users{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    font-family: "Helvetica Neue";
    color: rgb(141, 165, 182);
    font-weight: bold;
    background: #fff;
    transition: .6s;
    &:hover{
        background: rgb(235, 229, 229);
        color: #ff503f;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    }
    &:focus{
        outline: none;
    }
    &:active{
        background: rgb(185, 162, 162);
    }
}

.user-online{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    transition: .6s;
    position: relative;
    &:hover{
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    }
    &:focus{
        outline: none;
    }
    &:active{
        background: rgb(185, 162, 162);
    }
}
.user-show-online{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    transition: .6s;
    position: relative;
    &:hover{
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    }
    &:focus{
        outline: none;
    }
    &:active{
        background: rgb(185, 162, 162);
    }
    &::after{
        content: url(../img/online.png);
        position: absolute;
        top: 0;
        right: 0;
    }
}

.user-offline{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    transition: .6s;
    position: relative;
    &:hover{
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    }
    &:focus{
        outline: none;
    }
    &:active{
        background: rgb(185, 162, 162);
    }
}
.user-show-offline{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    transition: .6s;
    position: relative;
    &:hover{
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    }
    &:focus{
        outline: none;
    }
    &:active{
        background: rgb(185, 162, 162);
    }
    &::after{
        content: url(../img/offline.png);
        position: absolute;
        top: 0;
        right: 0;
    } 
}
.user1{
    background: url(../img/user3.png)no-repeat center;
    background-size: cover; 
}
.user2{
    background: url(../img/user2.png)no-repeat center;
    background-size: cover; 
}
.user3{
    background: url(../img/user1.png)no-repeat center;
    background-size: cover;
}


@media screen and (max-device-width: 1400px) {
    .show-progress-article {
        font-size: 15px;
    }
}

@media screen and (max-device-width: 1100px) {
    .show-article {
        font-size: 10px;
    }  
}

@media screen and (max-device-width: 1000px) {
    .init-content__item {
        height: 70px!important;
    }
    .init-content__arhive-projects {
        height: 40px!important;
    }
    .show-progress-article {
        font-size: 14px;
    }
    .show-progress {
        width: 40px;
        min-width: 40px;
        height: 25px;
        font-size: 14px;
    }
    .show-article {
        height: 30px;
        padding: 0px 10px;
        font-size: 10px;
    }
    .searchBtn {
        width: 30px;
        height: 30px;
    }
    .single-arrow {
        width: 30px;
        height: 30px;
    }
    .init-content__arhive-projects-title {
        font-size: 10px!important;
    }   
    .init-content__arhive-projects-title::after {
        top: 1px;
    }
    .init-content__arhive-projects-title:hover::after {
        top: 1px;
    }    
}

@media screen and (max-device-width: 900px) {
    .show-progress-article {
        font-size: 10px;
    }
    .show-article {
        height: 25px;
        font-size: 7px;
    }
    .searchBtn {
        width: 25px;
        height: 25px;
    }
    .single-arrow {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-device-width: 600px) {
    .show-progress {
        width: 25px;
        min-width: 25px;
        height: 20px;
        font-size: 8px;
    }
    .init-content__item-leftBtn {
        width: calc(60% - 15px)!important;
        margin-left: 15px!important;
    }
    .init-content__item-rightBtn {
        width: calc(60% - 15px)!important;
        margin-right: 15px!important;
    }
    div > .init-content__arhive-projects {
        height: 35px!important;
    }
    .init-content__item {
        height: 50px !important;
    }
    .single-arrow {
        width: 25px;
        height: 25px;
    }
    .show-progress-article {
        font-size: 8px;
    }
    .show-article {
        height: 15px;
        font-size: 5px;
    }
    .searchBtn {
        width: 15px;
        height: 15px;
        background-size: 50%;
    }
    .searchBtn:hover {
        background-size: 50%;
    }
    .single-arrow {
        width: 15px;
        height: 15px;
        background-size: 50%;
    }
    .single-arrow:hover {
        background-size: 50%;
    }   
}

@media screen and (max-device-width: 400px) {
    .init-content__item {
        height: 40px !important;
    }
    .show-progress {
        width: 20px;
        min-width: 20px;
        height: 15px;
        font-size: 6px;
    }
    .show-progress-article {
        font-size: 7px;
        margin-left: 10px;
    }
}



