.navigate-menu{
    width: 100%;
    height: 80px;
    display: flex;
    background: #f1f1f1;
    &__active-projects{
        width: 20%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-top: 1px solid #d3d7da;
        position: relative;
        &:hover{
            cursor: pointer;
            &::before{
                position: absolute;
                content: url(../img/actPr-icon-act.png);
                left: 20px;
                top: 20px;
            }
        }
        &-title{
            font-size: 24px;
            font-family: "Helvetica Neue";
            color: #4b4b4b;
        }
        &::before{
            position: absolute;
            content: url(../img/actPr-icon.png);
            left: 20px;
            top: 20px;
        }
    }
    &__messenger{
        width: 20%;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f8f8;
        border: 1px solid #d3d7da;
        border-top-right-radius: 4px; 
        position: relative;
        &:hover{ 
            cursor: pointer;
            &::before{
                position: absolute;
                content: url(../img/messenger-icon-act.png);
                left: 35px;
            }
        }
        &-title{
            font-size: 24px;
            font-family: "Helvetica Neue";
            color: #4b4b4b;
        }
        &::before{
            position: absolute;
            content: url(../img/messenger-icon.png);
            left: 35px;
        }
    }
    &__counter-unread{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        font-size: 13px;
        font-family: "Helvetica Neue";
        color: rgb(255, 255, 255);
        font-weight: bold;
        background: #ff503f;
        position: absolute;
        top: 15px;
        right: 55px; 
    }
    &__counter-read{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        font-size: 13px;
        font-family: "Helvetica Neue";
        color: rgb(255, 255, 255);
        font-weight: bold;
        background: #adadad;
        position: absolute;
        top: 15px;
        right: 35px; 
    }
}

@media screen and (max-device-width: 1550px) {
    .navigate-menu__active-projects {
        width: 25%;
    }
    .navigate-menu__messenger {
        width: 25%;
    }
}

@media screen and (max-device-width: 1300px) {
    .navigate-menu__active-projects {
        width: 25%;
        height: 60px;
    }
    .navigate-menu__messenger {
        width: 25%;
        height: 59px;
    }
    .navigate-menu {
        height: 60px;
    }
    .navigate-menu__active-projects::before {
        top: 10px;
    }
    .navigate-menu__active-projects:hover::before {
        top: 10px;
    }
    .navigate-menu__active-projects-title {
        font-size: 20px;
    }
    .navigate-menu__messenger-title{
        font-size: 20px;
    }
    .navigate-menu__counter-read {
        top: 10px;
        right: 10px;
    }
    .navigate-menu__counter-unread {
        top: 10px;
        right: 10px;
    }
}

@media screen and (max-device-width: 1200px) {
    .navigate-menu__active-projects {
        width: 30%;
    }
    .navigate-menu__messenger {
        width: 30%;
    }
    .navigate-menu__active-projects-title {
        font-size: 18px;
    }
    .navigate-menu__messenger-title{
        font-size: 18px;
    }
}

@media screen and (max-device-width: 1100px) {

    .navigate-menu__active-projects-title {
        font-size: 16px;
    }
    .navigate-menu__messenger-title{
        font-size: 16px;
    }
}

@media screen and (max-device-width: 900px) {
    .navigate-menu__messenger::before {
        position: absolute;
        content: url(../img/messenger-icon.png);
        left: 20px;
    }
    .navigate-menu__messenger:hover::before {
        transform: scale(.8);
        left: 20px;
    }
    .navigate-menu__active-projects::before {
        transform: scale(.8);
        left: 10px;
    }
    .navigate-menu__active-projects:hover::before {
        transform: scale(.8);
        left: 10px;
    }
    .navigate-menu__counter-read {
        width: 25px;
        height: 25px;
        border-radius: 50px;
        font-size: 11px;
    }
    .navigate-menu__counter-unread {
        width: 25px;
        height: 25px;
        border-radius: 50px;
        font-size: 11px;
    }
    .navigate-menu__messenger::before{
        transform: scale(.8);
        left:20px;
    }
    .navigate-menu__messenger:hover::before {
        transform: scale(.8);
        left: 20px;
    }
    .navigate-menu__counter-read {
        top: 5px;
        right: 5px;
    }    
    .navigate-menu__counter-unread {
        top: 5px;
        right: 5px;
    }  
}

@media screen and (max-device-width: 800px) {
    .navigate-menu__active-projects-title {
        font-size: 13px;
    }
    .navigate-menu__messenger-title{
        font-size: 13px;
    }
}

@media screen and (max-device-width: 700px) {
    .navigate-menu__active-projects-title {
        font-size: 12px;
    }
    .navigate-menu__messenger-title{
        font-size: 12px;
    }
    .navigate-menu__messenger::before{
        transform: scale(.6);
        left: 10px;
    }
    .navigate-menu__messenger:hover::before {
        transform: scale(.6);
        left: 10px;
    }
    .navigate-menu__counter-read {
        top: 5px;
        right: 5px;
    }    
    .navigate-menu__counter-unread {
        top: 5px;
        right: 5px;
    }
    .navigate-menu__active-projects:hover::before {
        transform: scale(0.6);
        left: 0px;
    }
    .navigate-menu__active-projects::before {
        transform: scale(0.6);
        left: 0px;
    }
    .navigate-menu__counter-read {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }  
    .navigate-menu__counter-unread {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }  
}
@media screen and (max-device-width: 600px) {
    .navigate-menu__messenger::before {
        transform: scale(0.6);
        left: 0px;
    }
    .navigate-menu__messenger {
        width: 35%;
    }
    .navigate-menu__active-projects {
        width: 35%;
    }
}
@media screen and (max-device-width: 500px) {
    .init-content {
        height: calc(100vh - 100px);
    } 
    .navigate-menu__active-projects {
        height: 40px;
    }
    .navigate-menu__messenger {
        height: 39px;
    }
    .navigate-menu {
        height: 40px;
    }
    .navigate-menu__active-projects-title {
        font-size: 8px;
    }
    .navigate-menu__messenger-title{
        font-size: 8px;
    }
    .navigate-menu__active-projects:hover::before {
        transform: scale(0.5);
        left: 0px;
        top: 0px;
    }
    .navigate-menu__active-projects::before {
        transform: scale(0.5);
        left: 0px;
        top: 0px;
    }
    .navigate-menu__messenger::before{
        transform: scale(.6);
        left: 0px;
    }
    .navigate-menu__messenger:hover::before {
        transform: scale(.6);
        left: 0px;
    }
    .navigate-menu__counter-read {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }
    .navigate-menu__counter-unread {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }
}





@media screen and (max-device-width: 400px) {
    .navigate-menu__active-projects:hover::before {
        transform: scale(0.4);
        left: 5px;
    }
    .navigate-menu__active-projects::before {
        transform: scale(0.4);
        left: 5px;
    }
    .navigate-menu__messenger::before{
        transform: scale(.5);
        left: 5px;
    }
    .navigate-menu__messenger:hover::before {
        transform: scale(.5);
        left: 5px;
    }
    .navigate-menu__counter-read {
        width: 15px;
        height: 15px;
        font-size: 6px;
    }
    .navigate-menu__counter-unread {
        width: 15px;
        height: 15px;
        font-size: 6px;
    }
    .navigate-menu__active-projects-title {
        font-size: 7px;
    }
    .navigate-menu__messenger-title{
        font-size: 7px;
    }
}

@media screen and (max-device-width: 350px) {
    .navigate-menu__active-projects:hover::before {
        transform: scale(0.4);
        left: -3px;
    }
    .navigate-menu__active-projects::before {
        transform: scale(0.4);
        left: -3px;
    }
    .navigate-menu__messenger::before{
        transform: scale(.5);
        left: 0px;
    }
    .navigate-menu__messenger:hover::before {
        transform: scale(.5);
        left: 0px;
    }
}

