.footer{
	width: 100%;
	height: 160px;
	display: flex;
	background: #0070af;
	&__tittle{
		width: 100%;
		height: inherit;
		display: flex;
		align-items: center;
		article{
			font-size: 24px;
			color: #fff;
			padding-left: 80px;
			transition: .5s;
		}
		&:hover article{
			color: rgb(32, 30, 30);
		}
	}
	&__contacts{
		height: inherit;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: 80px;
		color: #fff;
		font-size: 20px;
		&__phone{
			position: relative;
			transition: .5s;
			&::before{
				content: url(../img/round-phone_iphone-24px.svg);
				position: absolute;
				left: -40px;
				transition: .2s;
			}
			&:hover{
				color: rgb(32, 30, 30);
				&::before{
					transform: scale(1.3);
				}
			}
		}
		&__gmail{
			padding: 20px 0;
			position: relative;
			transition: .5s;
			&::before{
				content: url(../img/round-mail_outline-24px.svg);
				position: absolute;
				left: -40px;
				transition: .2s;
			}
			&:hover{
				color: rgb(32, 30, 30);
				&::before{
					transform: scale(1.3);
				}
			}
		}
		&__address{
			position: relative;
			transition: .5s;
			&::before{
				content: url(../img/round-home-24px.svg);
				position: absolute;
				left: -40px;
				transition: .2s;
			}
			&:hover{
				color: rgb(32, 30, 30);
				&::before{
					transform: scale(1.3);
				}
			}
		}
	}
}

