.header{
    width: 100%;
    height: 120px;
    display: flex;
    transition: .3s;
    position: relative;
    z-index: 999;
    &:hover{
        background: rgba(0, 0, 0, 0.5);
    }
    &__logo {
            width: 20%;
            height: inherit;
            display: flex;
            align-items: center;
            padding-left: 3.5%;
            a{
                color: rgb(255, 255, 255);
                text-decoration: none; 
                font-size: 19px;
                font-family: 'Lato', sans-serif;
                line-height: 1.2;  
            }  
    }
    &__nav{
        width: 65%;
        height: inherit;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            height: 50px;
            display: flex;
            align-items: center;
            margin-left:  50px;
            list-style: none;
            font-size: 10px;
            font-family: "Lato";
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
            transition: .3s ease-out;
            &:hover{
                height: 46px;
                transform: scale(1.6);
                cursor: pointer;
                border-top: 2px solid #fff; 
                border-bottom: 2px solid #fff; 
            }
        }
        ul{
            display: flex;
        }
    }
    &__btn{
        width: 12%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            padding: 0 10px;
            cursor: pointer;
        }
    }
    &-scroll{
        width: 100%;
        height: 80px;
        display: flex;
        transition: .5s;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        z-index: 99999;
        transition: 0;
    }
}