.our-approach{
    width: 100%;
    height: 750px;
    position: relative;
    h3{
        padding: 120px 0 60px 13%;
        font-size: 60px;
        font-family: 'Open Sans';
        color: rgb(73, 73, 73);
        line-height: 1.2;
        font-weight: 700;   
    }
    &__container{
        width: 100%;
        height: 280px;
        display: flex;
        overflow: scroll;
        &-parallelograms-container{
            width: 80%;
            min-width: 1200px;
            height: 100%;
            display: flex;
            padding-left: 20px;
        }
    }
    &__content{
        width: 20%;
        min-width: 320px;
        height: inherit;
        margin-left: 13%;
        position: relative;
        p{
            font-size: 17px;
            color: rgb(106, 106, 106);
            line-height: 30px;
        }
        button{
            padding: 15px 30px;
            font-size: 12.677px;
            background: #bc2e3a;
            font-family: "Lato";
            position: absolute;
            left: 0;
            bottom: 10px;
            color: rgb(253, 252, 252);
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 40px; 
            box-shadow: -1px 2px 14px -2px rgba(0,0,0,0.75);
            cursor: pointer;
            &:focus{
                outline: none;
            }
            &:active{
                background: rgba(150, 104, 104, 0.425);
            }
        }
    }
}

.parallelogram{
    width: 400px;
    height: 100%;
    margin-left: 5%;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    z-index: 1001;
    transition: 1s;
    position: relative;
    box-shadow: -1px 5px 14px -2px rgba(0,0,0,0.75);
    &:hover .hover{
        display: flex;
    }
    &-item1{
        background: url(../img/item1.png)no-repeat center; 
        h3{
            bottom: 40%!important;
        }       
    }
    &-item2{
        background: url(../img/item2.png)no-repeat center;
    }
    &-item3{
        background: url(../img/item3.png)no-repeat center;
    }
    span{
        font-size: 35px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        right: 5%;
        top: 5px;
        z-index: 1000;
    }
    h3{
        font-size: 30px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        position: absolute;
        padding: 0;
        left: 10%;
        bottom: 20px;
        z-index: 1000;
    }
    p{
        width: 60%;
        height: 35%;
        position: absolute;
        left: 10%;
        bottom: 0;
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-family: "Lato";
        z-index: 1000;          
    }
}

.left-img{
    position: absolute;
    left: 0;
    top: 158px;
    z-index: 1000;
}

.right-img{
    position: absolute;
    top: -200px;
    right: 0;
    z-index: 1000;
}

.hover{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    background: rgba(44, 42, 42, 0.767);
}




@media screen and (max-device-width: 1000px) {
    .our-approach{
        h3{
            padding: 120px 0 60px 5%;
        }
    }
    .our-approach__content{
        margin-left: 5%;
    }
}