.main-baner{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/img1.png) no-repeat center;
    background-size: cover;
    transition: 2s;
    transition-delay: .2s;
    &:hover{
        background: url(../img/img1-1.png) no-repeat center;
        background-size: cover;
    }
    &__man-img{
        visibility: hidden;
        position: absolute;
        right: 7%;
        top: 50vh;
        z-index: 99;
        transition: 1s;
        &-active{
            visibility: visible;
            position: absolute;
            right: 7%;
            top: 10vh;
            z-index: 99;
            transition: .7s ease;
        }
    }
    &__btn{
        visibility: hidden;
        position: absolute;
        top: 71%;
        left: 33%;
        padding: 15px 30px;
        font-size: 12.677px;
        font-family: "Lato";
        color: rgb(36, 36, 36);
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 40px; 
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &:active{
            background: rgba(0, 0, 0, 0.425);
        }
        &-active{
            visibility: visible;
            position: absolute;
            top: 71vh;
            left: 33%;
            padding: 15px 30px;
            font-size: 12.677px;
            font-family: "Lato";
            color: rgb(36, 36, 36);
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 40px; 
        }
    }
}

@media screen and (max-device-width: 1400px) {
    .main-baner__man-img{
        transform: scale(.7);
        position: absolute;
        right: 0;
        top: 50vh;
        z-index: 99;
        transition: 1s;
        &-active{
            visibility: visible;
            position: absolute;
            right: 0;
            top: 0vh;
            z-index: 99;
            transition: .7s ease;
        }
    }
}

@media screen and (max-device-width: 1100px) {
    .main-baner{
        width: 100%;
        height: 70vh;
        &__btn{
            left: 20%;
            top: 71%;
        }
    }
    .main-baner__man-img{
        transform: scale(.7);
        position: absolute;
        right: 0;
        top: 50vh;
        z-index: 99;
        transition: 1s;
        &-active{
            visibility: visible;
            position: absolute;
            right: -70px;
            top: -5vh;
            z-index: 99;
            transition: .7s ease;
        }
    }
}


@media screen and (max-device-width: 1000px) {
    .main-baner{
        width: 100%;
        height: 100vh;
        &__btn{
            left: 20%;
            top: 71%;
        }
    }
    .main-baner__man-img{
        transform: scale(.7);
        position: absolute;
        right: 0;
        top: 50vh;
        z-index: 99;
        transition: 1s;
        &-active{
            visibility: visible;
            position: absolute;
            right: -70px;
            top: -20vh;
            z-index: 99;
            transition: .7s ease;
        }
    }
}

@media screen and (max-device-width: 450px) {
    .main-baner{
        width: 100%;
        height: 45vh;
        &__btn{
            left: 20%;
            top: 71%;
        }
    }
    .main-baner__man-img{
        transform: scale(.6);
        position: absolute;
        right: 0;
        top: 50vh;
        z-index: 99;
        transition: 1s;
        &-active{
            visibility: visible;
            position: absolute;
            right: -70px;
            top: -18vh;
            z-index: 99;
            transition: .7s ease;
        }
    }
}

@media screen and (max-device-width: 400px) {
    .main-baner{
        width: 100%;
        height: 45vh;
        &__btn{
            left: 20%;
            top: 71%;
        }
    }
    .main-baner__man-img{
        transform: scale(.6);
        position: absolute;
        right: 0;
        top: 50vh;
        z-index: 99;
        transition: 1s;
        &-active{
            visibility: visible;
            position: absolute;
            right: -70px;
            top: -10vh;
            z-index: 99;
            transition: .7s ease;
        }
    }
}

@media screen and (max-device-width: 350px) {
    .main-baner__man-img{
        transform: scale(.6);
        position: absolute;
        right: 0;
        top: 50vh;
        z-index: 99;
        transition: 1s;
        &-active{
            visibility: visible;
            position: absolute;
            right: -70px;
            top: -2vh;
            z-index: 99;
            transition: .7s ease;
        }
    }
}


