.our-team{
    width: 100%;
    height: 800px;
    position: relative;
    transition: 1s;
    &:hover{
        background: #f5f5f5;
        transition: 1s;
    }
    h3{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        font-size: 60px;
        font-family: 'Open Sans';
        color: rgb(73, 73, 73);
        line-height: 1.2;
        text-align: left;
        font-weight: 700;  
    }
    &__left-img{
        position: absolute;
        right: 0;
        top: 208px;
        z-index: 1000;
    }
}


.slider{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 150px;
    z-index: 2222;
}