@font-face {
    font-family: 'Open Sans'; 
    src: url(../fonts/PeaceSans/PeaceSansWebfont.ttf); 
   }

.introduce{
    width: 100%;
    height: 580px;
    transition: 2s;
    position: relative;
    overflow-x: hidden;
    // &:hover{
        // background: rgba(190, 32, 32, 0.616) url(../img/Rectangle3.png) no-repeat 160%;
        // background: linear-gradient(to left top, #664639, #6e543c, #754440, #7d434d, #854770) ;
    // }
    &__img{
        position: absolute;
        right: 0;
    }
    &__content{
        width: 40%;
        padding-left: 13%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 3333;
        h3{
            margin-top: 80px;
            font-size: 60px;
            font-family: 'Open Sans';
            color: rgb(73, 73, 73);
            line-height: 1.2;
            text-align: left;
            font-weight: 700;              
            margin-bottom: 60px;
        }
        p{
            width: 70%;
            height: 25%;
            font-size: 17px;
            color: rgb(106, 106, 106);
            line-height: 25px;
            margin-bottom: 40px;
        }
        button{
            padding: 15px 30px;
            font-size: 12.677px;
            background: #bc2e3a;
            font-family: "Lato";
            color: rgb(253, 252, 252);
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 40px; 
            box-shadow: -1px 2px 14px -2px rgba(0,0,0,0.75);
            cursor: pointer;
            &:focus{
                outline: none;
            }
            &:active{
                background: rgba(150, 104, 104, 0.425);
            }
        }
    }
}



@media screen and (max-device-width: 1500px) {
    .introduce__img{
        right: -200px;
    }
}

@media screen and (max-device-width: 1250px) {
    .introduce__img{
        right: -400px;
    }
}

@media screen and (max-device-width: 1050px) {
    .introduce__img{
        right: -500px;
    }
}

