.work-space{
    width: 100%;
    height: 750px;
    background: #f5f5f5;
    position: relative;
    // overflow-x: hidden;
    h3{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 80px;
        font-size: 60px;
        font-family: 'Open Sans';
        color: rgb(73, 73, 73);
        line-height: 1.2;
        text-align: left;
        font-weight: 700;  
    }
    &__content{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        bottom: 10%;
        img{
            position: absolute;
            left: 0;
        }
    }
    &__container{
        width: 70%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &-icon{
            height: 70px;
            width: 70px;
            border-radius: 50px;
            background: #bc2e3a;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__items{
        width: 33.3%;
        height: calc(50% - 25px);
        position: relative;
        margin-top: 50px;
        z-index: 9999;
        h4{
            width: calc(100% - 80px);
            height: 70px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            right: 0;
            font-size: 25px;
            font-family: "Open Sans";
            color: rgb(111, 111, 110);
            line-height: 1.2;
        }
        p{
            width: calc(100% - 120px);
            height: calc(100% - 70px);
            padding-right: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            position: absolute;
            top: 70px;
            right: 0;
            font-size: 17px;
            color: rgb(106, 106, 106);
            line-height: 1.2;
        }
        &:hover .work-space__container-icon{
            transform: rotateX(360deg);
            transition: 1s;
        }
    }
}

.item1{
    &__icon{
        background: #bc2e3a url(../img/Icon1.png) no-repeat center;
    }
}
.item2{
    &__icon{
        background: #bc2e3a url(../img/Icon2.png) no-repeat center;
    }
}
.item3{
    &__icon{
        background: #bc2e3a url(../img/Icon3.png) no-repeat center;
    }
}
.item4{
    &__icon{
        background: #bc2e3a url(../img/Icon4.png) no-repeat center;
    }
}
.item5{
    &__icon{
        background: #bc2e3a url(../img/Icon5.png) no-repeat center;
    }
}
.item6{
    &__icon{
        background: #bc2e3a url(../img/Icon6.png) no-repeat center;
    }
}

@media screen and (max-device-width: 1100px) {
    .work-space__container {
        width: 90%;
    }
}


